@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  color: var(--clr-font);
  font-family: var(--font-arial-regular);
  background-color: var(--clr-white);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: var(--clr-secondary) !important;
}

b,
strong {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
}

span {
  font-size: inherit;
  color: inherit;
}

a {
  color: var(--clr-font);
  text-decoration: none;
}

a:hover {
  color: var(--clr-primary);
  text-decoration: none;
}

td {
  padding: 10px;
}

ul,
ol {
  padding-left: 25px;
  list-style: none;
}

ul li {
  position: relative;
}

ul.primary li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 9px;
  left: -15px;
  background-color: var(--clr-primary);
}

ul.secondary {
  padding: 0;
}

ul.secondary li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 8px;
  left: -15px;
  display: none;
  background-color: var(--clr-secondary);
}

ol.primary li::before {
  color: var(--clr-primary);
}

ol.counter {
  counter-reset: li;
}

ol.counter li {
  position: relative;
  counter-increment: li;
}

ol.counter li::before {
  content: counter(li) ".";
  position: absolute;
  left: -20px;
}

li,
p {
  line-height: 24px;
  margin-bottom: 16px;
}

.btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

/***** Header *****/
.header {
  position: relative;
  padding: 0 20px;
  background-color: var(--clr-white);
  z-index: 2;
}

.header__container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  padding: 13px 0;
  border-bottom: 3px solid var(--clr-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 991px) {
  .header__top--block {
    margin-right: auto;
  }
}

.header__social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 13px;
  padding-right: 50px;
  margin-right: 50px;
  border-right: 3px solid var(--clr-gray);
}

@media (max-width: 991px) {
  .header__social {
    margin-right: 20px;
    padding-right: 20px;
  }
}

.header-info-text {
  color: var(--clr-gray-100);
  margin-left: 10px;
  font-size: 13px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 991px) {
  .header__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991px) {
  .header__logo img {
    width: 200px;
  }
}

.header__menu {
  position: relative;
}

@media (max-width: 1023px) {
  .header__menu {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}

.header__menu::before, .header__menu::after {
  position: absolute;
  top: 0;
  background-color: inherit;
}

.header__menu::before {
  height: 100%;
  width: 50px;
  left: -50px;
  border-top-left-radius: 30px;
}

.header__menu::after {
  height: 100%;
  right: -100%;
  width: 100%;
}

.header__menu .main-menu ul {
  max-width: initial;
}

.header__menu .main-menu ul.languages {
  display: none;
}

.header__menu .main-menu ul li {
  position: relative;
  float: none;
}

@media (max-width: 1023px) {
  .header__menu .main-menu ul li.hasChildren::after, .header__menu .main-menu ul li.hasChildren::before {
    display: none;
  }
}

.header__menu .main-menu ul li.hasChildren::after {
  content: "";
  display: none;
}

.header__menu .main-menu ul li.hasChildren::before {
  content: "";
  display: none;
}

.header__menu .main-menu ul li ul {
  background-color: unset;
  border-radius: 0;
  border: unset;
  left: 0;
  visibility: hidden;
  min-width: 185px;
  max-width: 185px;
}

.header__menu .main-menu ul li ul li::before {
  content: "";
  display: none;
}

.header__menu .main-menu ul li ul li::after {
  content: "";
  height: 1px;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--clr-primary);
  display: block;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@media (max-width: 1023px) {
  .header__menu .main-menu ul li ul li::after, .header__menu .main-menu ul li ul li::before {
    display: none;
  }
}

.header__menu .main-menu ul li ul li:hover {
  background-color: transparent;
}

.header__menu .main-menu ul li ul li:hover::after {
  width: 100%;
}

.header__menu .main-menu ul li ul li:hover ul {
  visibility: visible;
  left: 100%;
  top: 0;
}

.header__menu .main-menu ul li ul li.active > a {
  color: var(--clr-primary);
}

.header__menu .main-menu ul li ul li a {
  padding: 0;
  white-space: nowrap;
  white-space: normal;
  width: 100%;
  color: var(--clr-font);
  font-size: 14px;
}

@media (max-width: 1430px) {
  .header__menu .main-menu ul li ul li a {
    font-size: 12px;
  }
}

.header__menu .main-menu ul li ul li a:hover {
  color: var(--clr-primary);
}

.header__menu .main-menu ul li ul li.hasChildren::after, .header__menu .main-menu ul li ul li.hasChildren::before {
  content: "";
  display: block;
}

.header__menu .main-menu ul li ul li.hasChildren::before {
  display: none;
}

.header__menu .main-menu ul li ul li.hasChildren::after {
  content: "";
  height: 1px;
  top: unset;
  right: unset;
  border-radius: unset;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--clr-primary);
  display: block;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  position: relative;
}

@media (max-width: 1023px) {
  .header__menu .main-menu ul li ul li.hasChildren::after, .header__menu .main-menu ul li ul li.hasChildren::before {
    display: none;
  }
}

.header__menu .main-menu ul li ul li.hasChildren:hover::after {
  width: 100%;
}

@media (max-width: 1023px) {
  .header__menu .main-menu ul.languages {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90px;
    margin-top: 30px;
    display: none;
  }
  .header__menu .main-menu ul.languages li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu .main-menu ul.languages li a {
    padding: 0 !important;
    margin: 0 !important;
    text-transform: uppercase;
    line-height: initial;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-size: 12px !important;
    border-bottom: unset !important;
    color: var(--clr-black) !important;
  }
  .header__menu .main-menu ul.languages li a.langActive {
    color: var(--clr-primary) !important;
  }
  .header__menu .main-menu ul.languages li:not(:last-child) {
    margin-right: 10px;
  }
  .header__menu .main-menu ul.languages li:not(:last-child)::before {
    content: "";
    height: 10px;
    width: 2px;
    background-color: var(--clr-font);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -2px;
    position: absolute;
  }
  .header__menu .main-menu ul.languages li:first-child a,
  .header__menu .main-menu ul.languages li:first-child span {
    font-size: 0 !important;
  }
  .header__menu .main-menu ul.languages li:first-child a::after,
  .header__menu .main-menu ul.languages li:first-child span::after {
    content: "ΕΛ";
    font-size: 12px;
  }
}

.header__menu .main-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: 100%;
}

.header__menu .main-menu > ul > li.hasChildren {
  padding-right: 0;
}

.header__menu .main-menu > ul > li.hasChildren em {
  display: none;
}

.header__menu .main-menu > ul > li:first-child {
  display: none;
}

.header__menu .main-menu > ul > li.menu-close-icon {
  display: none;
}

.header__menu .main-menu > ul > li.active, .header__menu .main-menu > ul > li:hover {
  background-color: unset;
}

.header__menu .main-menu > ul > li.active > a, .header__menu .main-menu > ul > li:hover > a {
  color: var(--clr-primary);
}

.header__menu .main-menu > ul > li.active > a {
  font-weight: 700;
}

.header__menu .main-menu > ul > li:not(:first-child) {
  margin-right: 124px;
}

@media (max-width: 1600px) {
  .header__menu .main-menu > ul > li:not(:first-child) {
    margin-right: 20px;
  }
}

.header__menu .main-menu > ul > li:nth-last-child(2) {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .header__menu .main-menu > ul > li:hover > ul {
    left: 0;
    top: 38px;
    visibility: visible;
    padding: 20px 0 0;
  }
  .header__menu .main-menu > ul > li:hover > ul::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    border-radius: 20px;
    -webkit-box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
    visibility: visible;
    display: block !important;
    pointer-events: none;
  }
  .header__menu .main-menu > ul > li:hover > ul::before {
    content: "";
    display: block;
    background-image: url(/CMS/site/images/menu-icon-1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 16px;
    position: absolute;
    top: 7px;
    z-index: 999;
    left: 26px;
  }
  .header__menu .main-menu > ul > li:hover > ul li {
    max-height: unset;
    background-color: var(--clr-gray-200);
    padding: 6px 25px;
  }
  .header__menu .main-menu > ul > li:hover > ul li:not(:first-child) {
    margin-top: 0;
  }
  .header__menu .main-menu > ul > li:hover > ul li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 25px;
  }
  .header__menu .main-menu > ul > li:hover > ul li:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 25px;
  }
  .header__menu .main-menu > ul > li:hover > ul li:hover > ul::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    border-radius: 20px;
    -webkit-box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
    visibility: visible;
    display: block !important;
    pointer-events: none;
  }
  .header__menu .main-menu > ul > li:hover > ul li:hover > ul::before {
    content: "";
    background-image: url(/CMS/site/images/menu-icon-2.png);
    height: 30px;
    width: 16px;
    position: absolute;
    z-index: 101;
    visibility: visible;
    display: block !important;
    left: -15px;
    top: 30px;
  }
}

.header__menu .main-menu > ul > li > a {
  margin: 0;
  padding-bottom: 25px;
  color: var(--clr-font);
}

.header__menu .main-menu > ul > li > a::before, .header__menu .main-menu > ul > li > a::after {
  display: none;
}

/***** Footer *****/
.footer {
  position: relative;
  z-index: 1;
}

.footer__container {
  background-color: var(--clr-secondary-2);
  padding: 0 20px;
}

.footer__container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1080px) {
  .footer__container__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    max-width: 600px;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer-info-text {
  color: var(--clr-font);
  margin-left: 10px;
  font-size: 13px;
}

.footer-info-text a {
  color: var(--clr-font);
}

.footer-info-text a:hover {
  color: var(--clr-primary);
}

.footer__address {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.footer__social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1080px) {
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-accordion {
  width: 100%;
}

.footer-accordion-title {
  position: relative;
  display: none;
}

@media (max-width: 1080px) {
  .footer-accordion-title {
    display: block;
  }
}

.footer-accordion-section {
  margin-bottom: 15px;
}

.footer-accordion-section:last-child {
  margin-bottom: 0;
}

.footer-accordion-section-content {
  display: block;
  padding: 10px 0 15px;
  text-align: center;
}

@media (max-width: 1080px) {
  .footer-accordion-section-content {
    display: none;
  }
}

.footer-accordion-section-title {
  font-size: 20px;
  color: var(--clr-font);
  display: block;
  text-decoration: none;
  pointer-events: none;
  position: relative;
  text-align: center;
}

.footer-accordion-section-title:hover {
  text-decoration: none;
  color: var(--clr-font);
}

@media (max-width: 1080px) {
  .footer-accordion-section-title {
    border-bottom: 2px solid var(--clr-font);
    padding-left: 0;
    pointer-events: all;
    padding-bottom: 8px;
    text-align: left;
  }
}

.footer-accordion-section-title .arrows {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 20px;
  height: 20px;
  display: none;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .footer-accordion-section-title .arrows {
    display: block;
  }
}

.footer-accordion-section-title .arrow-props {
  position: absolute;
  display: block;
  width: 20px;
  height: 12px;
  background-color: var(--clr-font);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.footer-accordion-section-title .arrow-down {
  -webkit-clip-path: polygon(50% 100%, 0% 0, 100% 0);
  clip-path: polygon(50% 100%, 0% 0, 100% 0);
}

.footer-accordion-section-title .arrow-up {
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  display: none;
}

.footer-accordion-section-title.active .arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-accordion-section-title.active .arrow-down {
  display: none;
}

.footer__menu .main-menu ul {
  margin: 0;
}

.footer__menu .main-menu ul::after {
  display: none;
}

.footer__menu .main-menu ul li {
  float: none;
  line-height: initial;
  margin-top: 7px;
}

.footer__menu .main-menu ul li:nth-child(1) {
  margin-top: 0;
  display: none;
}

.footer__menu .main-menu ul li.active, .footer__menu .main-menu ul li:hover {
  background-color: unset;
}

.footer__menu .main-menu ul li.active a {
  text-decoration: underline;
}

.footer__menu .main-menu ul li.hasChildren {
  padding: 0;
}

.footer__menu .main-menu ul li.hasChildren:before {
  display: none;
}

.footer__menu .main-menu ul li.hasChildren ul {
  display: none;
}

.footer__menu .main-menu ul li::before {
  display: none;
}

.footer__menu .main-menu ul li.menu-close-icon {
  display: none;
}

.footer__menu .main-menu ul li a {
  margin: 0;
  color: var(--clr-white);
  width: initial;
  display: inline-block;
}

.footer__menu .main-menu ul li a:hover {
  text-decoration: underline;
}

.footer__menu .main-menu ul li a::after, .footer__menu .main-menu ul li a::before {
  display: none;
}

.footer__menu .menu-close-icon {
  display: none;
}

.footer__column {
  max-width: 267px;
  width: 100%;
}

@media (max-width: 1080px) {
  .footer__column {
    width: 100%;
    max-width: 100%;
  }
}

.footer__column.column-2 {
  margin-top: -85px;
}

@media (max-width: 1080px) {
  .footer__column.column-2 {
    margin-top: 0;
  }
}

.footer__logo {
  width: 82px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-white);
  border-radius: 100%;
  margin: 0 auto;
}

.footer__down {
  background-color: var(--clr-white);
  padding: 0 20px;
}

.footer__down--content {
  color: var(--clr-font);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  line-height: 13px;
  padding: 10px 30px;
  max-width: 1155px;
  margin: 0 auto;
}

@media (max-width: 580px) {
  .footer__down {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}

.footer__down .footerleft {
  text-align: left;
}

@media (max-width: 580px) {
  .footer__down .footerleft {
    text-align: center;
  }
}

.footer__down .footerright {
  text-align: right;
}

@media (max-width: 580px) {
  .footer__down .footerright {
    text-align: center;
  }
}

.footer__down > div span,
.footer__down > div a {
  font-size: 11px;
}

/***** Mobile Menu *****/
@media (max-width: 1023px) {
  /***** Mobile Body *****/
  body {
    position: relative;
    z-index: 0;
  }
  body.mobile-clicked {
    overflow: hidden;
  }
  body.mobile-clicked::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  html.mobile-clicked {
    overflow: hidden;
  }
  /***** Mobile *****/
  #ctl00_pnlMenu .main-menu > ul > li > ul > li.hasChildren > a {
    padding: 15px 51px 15px 20px !important;
  }
  #ctl00_pnlMenu .main-menu > ul {
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 75px 15px;
    height: 100vh;
    overflow: auto;
    width: 330px;
    right: -345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: -4px 0 10px -2px rgba(0, 0, 0, 0.2);
            box-shadow: -4px 0 10px -2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 999;
    margin: 0;
  }
  #ctl00_pnlMenu .main-menu > ul.open {
    right: 0;
  }
  #ctl00_pnlMenu .main-menu > ul > li a {
    font-size: 22px;
  }
  /***** Mobile Menu - Sub Menu *****/
  #ctl00_pnlMenu .main-menu > ul > li,
  #ctl00_pnlMenu .main-menu > ul li {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    position: relative;
    max-height: unset;
  }
  #ctl00_pnlMenu .main-menu ul li a {
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid var(--clr-black);
    margin-bottom: 0;
    color: var(--clr-primary);
    text-align: center !important;
    font-size: 18px;
    border-radius: 0 !important;
    -webkit-transform: scale(1, 1) !important;
            transform: scale(1, 1) !important;
    white-space: break-spaces !important;
  }
  #ctl00_pnlMenu .main-menu ul li ul li a {
    border-bottom: 1px solid #d8d8d8;
  }
  #ctl00_pnlMenu .main-menu ul > li.active > a {
    color: var(--clr-secondary);
  }
  #ctl00_pnlMenu .main-menu ul li ul li ul li a {
    white-space: pre-wrap;
  }
  #ctl00_pnlMenu .main-menu > ul > li.active > a,
  #ctl00_pnlMenu .main-menu > ul > li > ul > li.active > a,
  #ctl00_pnlMenu .main-menu > ul > li > ul > li > ul > li.active a {
    border-bottom: 2px solid var(--clr-secondary);
  }
  #ctl00_pnlMenu .main-menu > ul > li.hasChildren em {
    position: absolute;
    right: 0;
    top: 4px;
    height: 45px;
    width: 50px;
    z-index: 999;
    border-left: 1px solid #ccc;
    display: block;
  }
  #ctl00_pnlMenu .main-menu > ul > li.hasChildren > i::before {
    display: none;
  }
  #ctl00_pnlMenu .main-menu > ul > li:hover ul {
    position: relative;
    top: unset;
    left: unset;
  }
  #ctl00_pnlMenu .main-menu > ul > li ul {
    position: relative;
    top: unset;
    left: unset;
    list-style: none;
    border-radius: unset;
    min-width: unset;
    border: unset;
    display: none;
    margin: 0 0 0 15px;
    width: unset;
    visibility: visible !important;
    min-width: unset;
    max-width: unset;
  }
  /***** Mobile - Close Button *****/
  .menu-close-icon {
    position: absolute !important;
    right: 24px;
    top: 20px;
    width: 30px !important;
    height: 30px;
    cursor: pointer;
    display: none;
  }
  .menu-close-icon.toggle {
    display: block !important;
  }
  .menu-close-icon::after,
  .menu-close-icon::before {
    position: absolute !important;
    content: "";
    width: 100% !important;
    height: 3px !important;
    background-color: var(--clr-primary) !important;
    left: unset !important;
    top: 50% !important;
    border-radius: unset !important;
    display: block !important;
  }
  .menu-close-icon::before {
    -webkit-transform: translateY(-50%) rotate(-45deg) !important;
            transform: translateY(-50%) rotate(-45deg) !important;
  }
  .menu-close-icon::after {
    -webkit-transform: translateY(-50%) rotate(45deg) !important;
            transform: translateY(-50%) rotate(45deg) !important;
  }
  /***** Mobile - Menu Button *****/
  #ctl00_pnlMenu .main-menu .menu-button {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    font-size: 0;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block {
    display: block;
    height: 4px;
    background-color: var(--clr-primary);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block::before,
  #ctl00_pnlMenu .main-menu .menu-button-block::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--clr-primary);
    display: block !important;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block::before {
    top: -10px;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block::after {
    top: 10px;
  }
  /***** Mobile - Sub Menu Close Button *****/
  .submenu-menu-close-icon {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  .submenu-menu-close-icon.active {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  .submenu-close {
    position: absolute;
    width: 20px;
    height: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .submenu-close.s-icon-1 {
    z-index: 999;
    -webkit-clip-path: polygon(10% 0, 0 0, 50% 100%, 100% 0, 90% 0, 50% 80%);
    clip-path: polygon(10% 0, 0 0, 50% 100%, 100% 0, 90% 0, 50% 80%);
    background-color: var(--clr-primary);
  }
}

#ctl00_pnlFooter li.menu-close-icon,
#ctl00_pnlFooter .submenu-menu-close-icon {
  display: none;
}
/*# sourceMappingURL=format.css.map */