* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
  font-size: 16px;
  color: var(--clr-gray);
  overflow-x: hidden;
  background-color: var(--clr-white);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: unset !important;
}

b,
strong {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
}

span {
  font-size: inherit;
  color: inherit;
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

a:hover {
  color: var(--clr-white);
  text-decoration: none;
}

td {
  padding: 10px;
}

ul,
ol {
  padding-left: 25px;
  list-style: none;
}

ul.primary li::before {
  background-color: var(--clr-primary);
}

ul.default {
  padding: 0;
}

ul.default li::before {
  display: none;
}

ul li {
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--clr-secondary);
  border-radius: 50%;
  top: 8px;
  left: -15px;
}

ol {
  counter-reset: li;
}

ol.primary li::before {
  color: var(--clr-primary);
}

ol li {
  position: relative;
  counter-increment: li;
}

ol li::before {
  content: counter(li) ".";
  color: var(--clr-secondary);
  position: absolute;
  top: 0px;
  left: -25px;
}

li,
p {
  line-height: 28px;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

/***** Header *****/
.header {
  padding: 10px 0 20px 0;
  position: relative;
}

@media (max-width: 991px) {
  .header {
    padding: 45px 0 20px 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991px) {
  .header__left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__info {
  margin-top: -2px;
}

@media (max-width: 991px) {
  .header__info {
    margin: 0;
    position: absolute;
    top: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__search {
  max-width: 200px;
  width: 100%;
  position: relative;
}

.header__search--container {
  padding-right: 30px;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .header__search--container {
    padding-right: 0;
    margin-right: 0;
    margin-left: 30px;
  }
}

.header__search--container::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 37px;
  background-color: var(--clr-gray);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

@media (max-width: 700px) {
  .header__search--container::after {
    display: none;
  }
}

.header__search--box {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-white);
  color: var(--clr-black);
  display: block;
  margin-left: auto;
  width: 20px;
  padding: 3px 0 2px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header__search--box:-webkit-autofill {
  background-color: var(--clr-secondary) !important;
  -webkit-box-shadow: 0 0 0 30px var(--clr-secondary) inset !important;
          box-shadow: 0 0 0 30px var(--clr-secondary) inset !important;
  color: #fff;
}

.header__search--box.expand {
  width: 100%;
  padding: 3px 25px 2px 0px;
  border-bottom: 1px solid var(--clr-black);
}

.header__search--button {
  width: 20px;
  height: 20px;
  border: unset;
  background-color: unset;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.header__search--button-wrapper {
  width: 20px;
  height: 30px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background-image: url(/CMS/site/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr-white);
}

@media (max-width: 991px) {
  .header__search__social {
    display: none;
  }
}

.header__menu {
  margin-bottom: -28px;
  margin-left: 90px;
}

@media (max-width: 1350px) {
  .header__menu {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .header__menu {
    margin-bottom: 0;
  }
}

.header__menu .main-menu ul {
  max-width: initial;
}

.header__menu .main-menu ul::after {
  display: none;
}

.header__menu .main-menu ul li {
  float: none;
  font-family: "segoe-bold";
}

.header__menu .main-menu ul li.hasChildren::before {
  content: "";
  border: 4px solid transparent;
  border-top-color: var(--clr-secondary);
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 0px;
  top: 8px;
  display: none;
}

@media (max-width: 1023px) {
  .header__menu .main-menu ul li.hasChildren::before {
    display: none;
  }
}

.header__menu .main-menu ul li ul {
  background-color: unset;
  border-radius: 0;
  border: unset;
  left: 0;
  visibility: hidden;
}

.header__menu .main-menu ul li ul li {
  padding: 9px 20px 9px 20px;
  background-color: #fff;
  margin: 4px 0;
}

.header__menu .main-menu ul li ul li:hover {
  background-color: #fff;
}

.header__menu .main-menu ul li ul li.hasChildren::before {
  right: 20px;
  top: 15px;
}

.header__menu .main-menu ul li ul li.active a {
  color: var(--clr-secondary);
}

.header__menu .main-menu ul li ul li::before {
  display: none;
}

.header__menu .main-menu ul li ul li a {
  font-size: 16px;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  color: var(--clr-primary);
}

.header__menu .main-menu ul li ul li a:hover {
  color: var(--clr-secondary);
}

.header__menu .main-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: 100%;
}

.header__menu .main-menu > ul > :nth-child(4):hover ul {
  width: 100%;
  left: 0;
}

.header__menu .main-menu > ul > li {
  padding-bottom: 28px;
}

.header__menu .main-menu > ul > li.hasChildren {
  padding-right: 0;
}

.header__menu .main-menu > ul > li.hasChildren i {
  display: none;
}

.header__menu .main-menu > ul > li:first-child {
  display: none;
}

.header__menu .main-menu > ul > li.menu-close-icon {
  display: none;
}

.header__menu .main-menu > ul > li.active, .header__menu .main-menu > ul > li:hover {
  background-color: unset;
}

.header__menu .main-menu > ul > li.active > a, .header__menu .main-menu > ul > li:hover > a {
  color: var(--clr-secondary);
}

.header__menu .main-menu > ul > li:not(:first-child) {
  margin-right: 85px;
}

@media (max-width: 1350px) {
  .header__menu .main-menu > ul > li:not(:first-child) {
    margin-right: 20px;
  }
}

.header__menu .main-menu > ul > li:hover ul {
  left: 0;
  top: 45px;
  visibility: visible;
}

.header__menu .main-menu > ul > li::before {
  display: none;
}

.header__menu .main-menu > ul > li > a {
  margin: 0;
  font-size: 16px;
  color: var(--clr-primary);
}

.header__menu .main-menu > ul > li > a::before, .header__menu .main-menu > ul > li > a::after {
  display: none;
}

/***** Footer *****/
.footer {
  position: relative;
  background-color: var(--clr-primary);
}

@media (max-width: 1190px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__info::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 100%;
  right: 0;
  background-color: var(--clr-white);
  top: 0;
}

@media (max-width: 1190px) {
  .footer__info::after {
    width: 100%;
    height: 6px;
    top: 100%;
  }
}

.footer__column {
  width: 100%;
}

@media (max-width: 1190px) {
  .footer__column {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.footer__menu.full .main-menu ul li:first-child {
  display: block;
}

.footer__menu .main-menu ul {
  max-width: 100%;
}

.footer__menu .main-menu ul li {
  float: none;
  margin-bottom: 8px;
}

.footer__menu .main-menu ul li:first-child {
  display: none;
}

.footer__menu .main-menu ul li.active, .footer__menu .main-menu ul li:hover {
  background-color: unset;
}

.footer__menu .main-menu ul li.active a {
  text-decoration: underline;
}

.footer__menu .main-menu ul li.hasChildren {
  padding: 0;
}

.footer__menu .main-menu ul li.hasChildren:before {
  display: none;
}

.footer__menu .main-menu ul li.hasChildren ul {
  display: none;
}

.footer__menu .main-menu ul li::before {
  display: none;
}

.footer__menu .main-menu ul li.menu-close-icon {
  display: none;
}

.footer__menu .main-menu ul li a {
  margin: 0;
  font-size: 16px;
  color: var(--clr-white);
  width: initial;
  display: inline-block;
}

.footer__menu .main-menu ul li a:hover {
  text-decoration: underline;
}

.footer__menu .main-menu ul li a::after, .footer__menu .main-menu ul li a::before {
  display: none;
}

.footer__menu.about ul li:nth-child(3) {
  display: none;
}

.footer__menu .menu-close-icon {
  display: none;
}

.footer-accordion-title {
  position: relative;
}

.footer-accordion-title::after {
  position: absolute;
  width: 144px;
  content: "";
  height: 2px;
  background-color: var(--clr-white);
}

@media (max-width: 1190px) {
  .footer-accordion-title::after {
    display: none;
  }
}

.footer-accordion-section {
  margin-bottom: 15px;
}

.footer-accordion-section:last-child {
  margin-bottom: 0;
}

.footer-accordion-section-content {
  display: block;
  padding: 20px 0;
  font-size: 16px;
}

@media (max-width: 1190px) {
  .footer-accordion-section-content {
    display: none;
  }
}

.footer-accordion-section-title {
  font-size: 20px;
  color: var(--clr-primary);
  display: block;
  text-decoration: none;
  pointer-events: none;
  position: relative;
  padding-bottom: 8px;
  color: var(--clr-white);
}

.footer-accordion-section-title:hover {
  text-decoration: none;
}

@media (max-width: 1190px) {
  .footer-accordion-section-title {
    border-bottom: 2px solid var(--clr-white);
    padding-right: 40px;
  }
}

@media (max-width: 1190px) {
  .footer-accordion-section-title {
    pointer-events: all;
  }
}

.footer-accordion-section-title .arrows {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 20px;
  height: 20px;
  display: none;
  pointer-events: none;
}

@media (max-width: 1190px) {
  .footer-accordion-section-title .arrows {
    display: block;
  }
}

.footer-accordion-section-title .arrow-props {
  position: absolute;
  display: block;
  width: 20px;
  height: 12px;
  background-color: var(--clr-white);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.footer-accordion-section-title .arrow-down {
  -webkit-clip-path: polygon(50% 100%, 0% 0, 100% 0);
  clip-path: polygon(50% 100%, 0% 0, 100% 0);
}

.footer-accordion-section-title .arrow-up {
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  display: none;
}

.footer-accordion-section-title.active .arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-accordion-section-title.active .arrow-down {
  display: none;
}

.footer__down {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  line-height: 13px;
  padding: 10px 0;
  background-color: var(--clr-white);
}

@media (max-width: 580px) {
  .footer__down {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}

.footer__down .footerleft {
  text-align: left;
}

@media (max-width: 580px) {
  .footer__down .footerleft {
    text-align: center;
  }
}

.footer__down .footerright {
  text-align: right;
}

@media (max-width: 580px) {
  .footer__down .footerright {
    text-align: center;
  }
}

.footer__down > div span,
.footer__down > div a {
  font-size: 11px;
}

.footer__down > div a {
  font-weight: bold;
}

/***** Mobile Menu *****/
@media (max-width: 991px) {
  /***** Mobile Body *****/
  body {
    position: relative;
    z-index: 0;
  }
  body.mobile-clicked {
    overflow: hidden;
  }
  body.mobile-clicked::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 15;
    margin-left: -45px;
    margin-right: -45px;
  }
  html.mobile-clicked {
    overflow: hidden;
  }
  /***** Mobile *****/
  #ctl00_pnlMenu .main-menu > ul > li > ul > li.hasChildren > a {
    padding: 15px 51px 15px 20px !important;
  }
  #ctl00_pnlMenu .main-menu > ul {
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 75px 15px;
    height: 100vh;
    overflow: auto;
    width: 330px;
    right: -345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: -4px 0 10px -2px rgba(0, 0, 0, 0.2);
            box-shadow: -4px 0 10px -2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 999;
    margin: 0;
  }
  #ctl00_pnlMenu .main-menu > ul.open {
    right: 0;
  }
  #ctl00_pnlMenu .main-menu > ul > li a {
    font-size: 22px;
  }
  /***** Mobile Menu - Sub Menu *****/
  #ctl00_pnlMenu .main-menu > ul > li,
  #ctl00_pnlMenu .main-menu > ul li {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    position: relative;
    max-height: unset;
  }
  #ctl00_pnlMenu .main-menu ul li a {
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid var(--clr-black);
    margin-bottom: 10px;
    color: var(--clr-black);
    text-align: center !important;
    font-size: 18px;
    border-radius: 0 !important;
    -webkit-transform: scale(1, 1) !important;
            transform: scale(1, 1) !important;
  }
  #ctl00_pnlMenu .main-menu ul > li.active > a {
    color: var(--clr-gold);
  }
  #ctl00_pnlMenu .main-menu ul li ul li ul li a {
    white-space: pre-wrap;
  }
  #ctl00_pnlMenu .main-menu > ul > li.active > a,
  #ctl00_pnlMenu .main-menu > ul > li > ul > li.active > a,
  #ctl00_pnlMenu .main-menu > ul > li > ul > li > ul > li.active a {
    border-bottom: 2px solid var(--clr-secondary);
  }
  #ctl00_pnlMenu .main-menu > ul > li.hasChildren i {
    position: absolute;
    right: 0;
    top: 4px;
    height: 45px;
    width: 50px;
    z-index: 999;
    border-left: 1px solid #ccc;
    display: block;
  }
  #ctl00_pnlMenu .main-menu > ul > li.hasChildren > i::before {
    display: none;
  }
  #ctl00_pnlMenu .main-menu > ul > li:hover ul {
    position: relative;
    top: unset;
    left: unset;
  }
  #ctl00_pnlMenu .main-menu > ul > li ul {
    position: relative;
    top: unset;
    left: unset;
    list-style: none;
    border-radius: unset;
    min-width: unset;
    border: unset;
    display: none;
    margin: 0 0 0 15px;
    width: unset;
    visibility: visible !important;
  }
  /***** Mobile - Close Button *****/
  .menu-close-icon {
    position: absolute !important;
    right: 24px;
    top: 20px;
    width: 30px !important;
    height: 30px;
    cursor: pointer;
    display: none;
  }
  .menu-close-icon.toggle {
    display: block !important;
  }
  .menu-close-icon::after,
  .menu-close-icon::before {
    position: absolute !important;
    content: "";
    width: 100% !important;
    height: 3px !important;
    background-color: var(--clr-primary) !important;
    left: unset !important;
    top: 50% !important;
    border-radius: unset !important;
    display: block !important;
  }
  .menu-close-icon::before {
    -webkit-transform: translateY(-50%) rotate(-45deg) !important;
            transform: translateY(-50%) rotate(-45deg) !important;
  }
  .menu-close-icon::after {
    -webkit-transform: translateY(-50%) rotate(45deg) !important;
            transform: translateY(-50%) rotate(45deg) !important;
  }
  /***** Mobile - Menu Button *****/
  #ctl00_pnlMenu .main-menu .menu-button {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    font-size: 0;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block {
    display: block;
    height: 4px;
    background-color: var(--clr-primary);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 0;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block::before,
  #ctl00_pnlMenu .main-menu .menu-button-block::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--clr-primary);
    display: block !important;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block::before {
    top: -10px;
  }
  #ctl00_pnlMenu .main-menu .menu-button-block::after {
    top: 10px;
  }
  /***** Mobile - Sub Menu Close Button *****/
  .submenu-menu-close-icon {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  .submenu-menu-close-icon.active {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  .submenu-close {
    position: absolute;
    width: 20px;
    height: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .submenu-close.s-icon-1 {
    z-index: 999;
    -webkit-clip-path: polygon(10% 0, 0 0, 50% 100%, 100% 0, 90% 0, 50% 80%);
    clip-path: polygon(10% 0, 0 0, 50% 100%, 100% 0, 90% 0, 50% 80%);
    background-color: var(--clr-primary);
  }
}

#ctl00_pnlFooter li.menu-close-icon,
#ctl00_pnlFooter .submenu-menu-close-icon {
  display: none;
}
/*# sourceMappingURL=format.css.map */