.LoginArea {
  position: absolute;
  top: 85px;
  right: 200px;
  z-index: 10;
}

@media (max-width: 1080px) {
  .LoginArea {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (max-width: 1054px) {
  .LoginArea {
    max-width: 350px;
    width: 100%;
  }
}

.login-layout .widget-box .widget-main {
  padding: 32px;
  background: unset;
}

.login-box,
.forgot-box {
  background-color: #fff;
  border-radius: 9px;
}

.login_log {
  padding: 20px 0;
}

.widget-body-inside label {
  font-weight: 600;
  color: var(--clr-black);
  margin-bottom: 0;
  margin-left: 20px;
}

.widget-body-inside input {
  height: 45px;
  width: 100%;
  border: 1px solid var(--clr-gray-3);
  border-radius: 30px;
  padding: 0 20px;
}

.widget-body-inside button {
  width: 100%;
  height: 45px;
  border: none;
  background-color: var(--clr-primary);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 20px;
}

.widget-body-inside button:hover {
  opacity: 0.7;
}

.widget-body-inside .block {
  margin-bottom: 20px;
}

.widget-body-inside .block.input {
  margin-bottom: 30px;
}

.widget-body-inside .forgot-password-link,
.widget-body-inside .back-to-login-link {
  color: var(--clr-primary);
  text-decoration: underline;
}

.widget-body-inside .toolbar {
  padding: 0;
}

#ctl00_DivUserLoggedIn {
  border-radius: 20px;
}

.LogedinBtn .fa-power-off:before {
  background-color: var(--clr-primary);
}

.banner p {
  margin: 0;
}

.banner img {
  width: 100%;
}

.upProgressSquare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 61, 124, 0.5);
}

.owl-stage-outer {
  padding: 0;
}

.owl-carousel {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  width: 62px;
  height: 62px;
}

@media (max-width: 1023px) {
  .owl-prev, .owl-next {
    -webkit-box-shadow: 0 0px 11px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 11px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    top: 100px;
    width: 40px;
    height: 40px;
  }
}

.owl-prev::before, .owl-next::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-top: 0;
  border-left: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--clr-secondary-2);
}

@media (max-width: 1023px) {
  .owl-prev::before, .owl-next::before {
    width: 10px;
    height: 10px;
    border-right: 4px solid;
    border-bottom: 4px solid;
    border-color: var(--clr-primary);
  }
}

.owl-prev {
  left: -100px;
}

.owl-prev::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

@media (max-width: 1023px) {
  .owl-prev::before {
    -webkit-transform: translate(-30%, -50%) rotate(135deg);
            transform: translate(-30%, -50%) rotate(135deg);
  }
}

@media (max-width: 1023px) {
  .owl-prev {
    left: 10px;
  }
}

.owl-next {
  right: -100px;
}

.owl-next::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 1023px) {
  .owl-next::before {
    -webkit-transform: translate(-70%, -50%) rotate(-45deg);
            transform: translate(-70%, -50%) rotate(-45deg);
  }
}

@media (max-width: 1023px) {
  .owl-next {
    right: 10px;
  }
}

.owl-dots {
  margin: 60px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-dot {
  width: 20px;
  height: 20px;
  background-color: #eeeeee;
  border-radius: 50%;
}

.owl-dot.active {
  background-color: #b9b9b9;
}

.owl-dot:not(:last-child) {
  margin: 0px 12px 0 0;
}

.slick-dots {
  list-style: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0;
}

.slick-dots li {
  margin: 10px;
  border: 1px solid var(--clr-primary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background-color: var(--clr-primary);
}

.slick-dots li button {
  font-size: 0;
  border: unset;
}

.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 12px;
  -webkit-transition: bottom 300ms ease-in;
  transition: bottom 300ms ease-in;
  z-index: 10;
}

.scroll-to-top.show {
  bottom: 100px;
  -webkit-transition: bottom 300ms ease-in;
  transition: bottom 300ms ease-in;
}

.scroll-to-top a {
  display: block;
}

.scroll-to-top a svg {
  width: 40px;
}

.masonry__layout {
  --columns: 1;
  --gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
}

@media (max-width: 991px) {
  .masonry__layout {
    place-items: center;
  }
}

.masonry__layout.columns-1 {
  --columns: 1;
}

.masonry__layout.columns-2 {
  --columns: 2;
}

.masonry__layout.columns-3 {
  --columns: 3;
}

.masonry__layout.columns-4 {
  --columns: 4;
}

.masonry__layout img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.masonry__item {
  margin-bottom: var(--gap);
}

.at-share-btn-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 680px) {
  .at-share-btn-elements {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.at-share-btn-elements a {
  margin-bottom: 0 !important;
  background-color: var(--clr-primary) !important;
  border-radius: 6px !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preloader .pageprogress {
  position: fixed;
  z-index: 999999;
  display: block;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin: 0;
  fill: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#preloader .pageprogress circle {
  fill: none;
  stroke-width: 3px;
}

#preloader .pageprogress circle.background {
  stroke: rgba(255, 255, 255, 0.1);
}

#preloader .pageprogress circle.foregroundp {
  stroke-dasharray: 2030px 2030px;
  stroke-dashoffset: 2030px;
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
          transform: rotate3d(0, 0, 1, -90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.displayBlock {
  display: none;
}

#cboxLoadedContent .displayBlock {
  display: block;
}

#cboxOverlay {
  background: none !important;
}

#cboxMiddleLeft,
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxMiddleRight,
#cboxBottomRight,
#cboxBottomCenter,
#cboxBottomLeft {
  height: 0 !important;
  width: 0 !important;
  background: none !important;
}

#cboxLoadedContent {
  margin-bottom: 0 !important;
}

#cboxContent {
  background: #f2f2f2 !important;
  padding: 23px;
}

#cboxClose {
  top: 10px !important;
  right: 10px !important;
  background: unset !important;
  width: 25px !important;
  height: 25px !important;
}

#colorbox {
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

#cboxPrevious,
#cboxNext {
  bottom: unset;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#cboxPrevious:hover,
#cboxNext:hover {
  background-position: unset;
}

#cboxPrevious {
  right: unset;
  left: 16px;
  background: unset;
}

#cboxNext {
  left: unset;
  right: 16px;
  background: unset;
}

#cboxCurrent {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 18px;
  background-color: #fff;
  padding: 5px 10px;
  color: #000;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.pagination .page {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
}

.pagination .page a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  text-decoration: none;
  color: var(--clr-black);
}

.pagination .page.current {
  border: 1px solid;
  color: var(--clr-black);
}

.pagination .page.next, .pagination .page.last, .pagination .page.first, .pagination .page.prev, .pagination .page.arrow-prev, .pagination .page.arrow-double-prev, .pagination .page.arrow-next, .pagination .page.arrow-double-next {
  display: none;
}

.slider {
  position: relative;
}

.slider__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.css-newsletter-block td {
  margin: 20px;
  display: inline-block;
}

.css-newsletter-block td span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.css-newsletter-block td span label {
  color: #fff;
}

.css-newsletter-block td span input {
  width: initial;
  margin-left: 10px;
}

.css-newsletter-input {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 2px solid #fff;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  font-family: "segoe-light";
}

.css-newsletter-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "segoe-light-italic";
}

.css-newsletter-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "segoe-light-italic";
}

.css-newsletter-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "segoe-light-italic";
}

.css-newsletter-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "segoe-light-italic";
}

.css-newsletter table {
  width: 100%;
}

.css-newsletter fieldset {
  border: unset;
}

.social__media {
  margin: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__media a {
  width: 33px;
  height: 33px;
  background-color: var(--clr-gray);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__media a:hover {
  opacity: 0.7;
}

.social__media a:not(:last-child) {
  margin-right: 20px;
}

.accordion-section-content {
  display: none;
  width: 94%;
  margin: 44px auto 0;
}

.accordion-section-title {
  background-color: rgba(var(--clr-gray-dest), 0.1);
  color: var(--clr-primary);
  font-size: 22px;
  font-weight: bold;
  padding: 31px 43px;
  border-radius: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
}

@media (max-width: 991px) {
  .accordion-section-title {
    font-size: 16px;
    padding: 20px 52px 20px 25px;
  }
}

.accordion-section-title .arrows {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
}

@media (max-width: 991px) {
  .accordion-section-title .arrows {
    right: 20px;
  }
}

.accordion-section-title .arrow-props {
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-section-title .arrow-down {
  background-image: url(/CMS/site/images/accordion-plus-icon.svg);
}

.accordion-section-title .arrow-up {
  background-image: url(/CMS/site/images/accordion-minus-icon.svg);
  display: none;
}

.accordion-section-title.active .arrow-down {
  display: none;
}

.accordion-section-title.active .arrow-up {
  display: block;
}

.accordion-section-title:hover {
  color: var(--clr-primary);
}

.accordion-section-title-image {
  height: 48px;
  width: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .accordion-section-title-image {
    display: none;
  }
}
/*# sourceMappingURL=plugins.css.map */