@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --clr-primary: #9fc949;
  --clr-secondary: #3b6db7;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #707a84;
  --font-roboto: "Roboto", sans-serif;
}

.text-primary {
  color: var(--clr-primary);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.border-primary {
  border-color: var(--clr-primary);
}

.hover\:text-primary:hover {
  color: var(--clr-primary);
}

.hover\:bg-primary:hover {
  background-color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.border-secondary {
  border-color: var(--clr-secondary);
}

.hover\:text-secondary:hover {
  color: var(--clr-secondary);
}

.hover\:bg-secondary:hover {
  background-color: var(--clr-secondary);
}

.text-white {
  color: var(--clr-white);
}

.bg-white {
  background-color: var(--clr-white);
}

.border-white {
  border-color: var(--clr-white);
}

.hover\:text-white:hover {
  color: var(--clr-white);
}

.hover\:bg-white:hover {
  background-color: var(--clr-white);
}

.text-black {
  color: var(--clr-black);
}

.bg-black {
  background-color: var(--clr-black);
}

.border-black {
  border-color: var(--clr-black);
}

.hover\:text-black:hover {
  color: var(--clr-black);
}

.hover\:bg-black:hover {
  background-color: var(--clr-black);
}

.text-gray {
  color: var(--clr-gray);
}

.bg-gray {
  background-color: var(--clr-gray);
}

.border-gray {
  border-color: var(--clr-gray);
}

.hover\:text-gray:hover {
  color: var(--clr-gray);
}

.hover\:bg-gray:hover {
  background-color: var(--clr-gray);
}

.box-border {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box-content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.hidden {
  display: none;
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-scale-down {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.t-1\% {
  top: 1%;
}

.-t-1 {
  top: -1px;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.z-auto {
  z-index: auto;
}

.-z-1 {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-initial {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-basis-48 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.-order-1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.grid-cols-none {
  -ms-grid-columns: none;
      grid-template-columns: none;
}

.grid-cols-1 {
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  -ms-grid-columns: (minmax(0, 1fr))[5];
      grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-auto-fit-360 {
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.col-span-full {
  grid-column: 1 / -1;
}

.grid-rows-1 {
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  -ms-grid-rows: (minmax(0, 1fr))[2];
      grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  -ms-grid-rows: (minmax(0, 1fr))[3];
      grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  -ms-grid-rows: (minmax(0, 1fr))[4];
      grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  -ms-grid-rows: (minmax(0, 1fr))[5];
      grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-none {
  -ms-grid-rows: none;
      grid-template-rows: none;
}

.row-span-full {
  grid-row: 1 / -1;
}

.gap-1 {
  gap: 1px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-55 {
  gap: 55px;
}

.gap-60 {
  gap: 60px;
}

.gap-80 {
  gap: 80px;
}

.gap-x-1 {
  -webkit-column-gap: 1px;
          column-gap: 1px;
}

.gap-y-1 {
  row-gap: 1px;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-items-auto {
  justify-items: auto;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-self-auto {
  -ms-grid-column-align: auto;
      justify-self: auto;
}

.justify-self-start {
  -ms-grid-column-align: start;
      justify-self: start;
}

.justify-self-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.justify-self-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.justify-self-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.content-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-stretch {
  place-content: stretch;
}

.place-items-auto {
  place-items: auto;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-stretch {
  place-items: stretch;
}

.place-self-auto {
  place-self: auto;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-self-stretch {
  place-self: stretch;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.p-55 {
  padding: 55px;
}

.p-60 {
  padding: 60px;
}

.p-65 {
  padding: 65px;
}

.p-70 {
  padding: 70px;
}

.p-75 {
  padding: 75px;
}

.p-80 {
  padding: 80px;
}

.p-85 {
  padding: 85px;
}

.p-90 {
  padding: 90px;
}

.p-95 {
  padding: 95px;
}

.p-100 {
  padding: 100px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-55 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-95 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-55 {
  padding-left: 55px;
  padding-right: 55px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-65 {
  padding-left: 65px;
  padding-right: 65px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.px-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.px-95 {
  padding-left: 95px;
  padding-right: 95px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.m-55 {
  margin: 55px;
}

.m-60 {
  margin: 60px;
}

.m-65 {
  margin: 65px;
}

.m-70 {
  margin: 70px;
}

.m-75 {
  margin: 75px;
}

.m-80 {
  margin: 80px;
}

.m-85 {
  margin: 85px;
}

.m-90 {
  margin: 90px;
}

.m-95 {
  margin: 95px;
}

.m-100 {
  margin: 100px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-95 {
  margin-top: 95px;
  margin-bottom: 95px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-35 {
  margin-left: 35px;
  margin-right: 35px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-45 {
  margin-left: 45px;
  margin-right: 45px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-55 {
  margin-left: 55px;
  margin-right: 55px;
}

.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.mx-65 {
  margin-left: 65px;
  margin-right: 65px;
}

.mx-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mx-75 {
  margin-left: 75px;
  margin-right: 75px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx-85 {
  margin-left: 85px;
  margin-right: 85px;
}

.mx-90 {
  margin-left: 90px;
  margin-right: 90px;
}

.mx-95 {
  margin-left: 95px;
  margin-right: 95px;
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.w-full {
  width: 100%;
}

.w-1\% {
  width: 1%;
}

.w-1 {
  width: 1px;
}

.min-w-1 {
  min-width: 1px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-1 {
  max-width: 1px;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-1 {
  height: 1px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-1 {
  min-height: 1px;
}

.max-h-full {
  max-height: 100%;
}

.max-h-1 {
  max-height: 1px;
}

.font-roboto {
  font-family: var(--font-roboto);
}

.text-10 {
  font-size: 10px;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-17 {
  font-size: 17px;
}

.text-18 {
  font-size: 18px;
}

.text-19 {
  font-size: 19px;
}

.text-20 {
  font-size: 20px;
}

.text-21 {
  font-size: 21px;
}

.text-22 {
  font-size: 22px;
}

.text-23 {
  font-size: 23px;
}

.text-24 {
  font-size: 24px;
}

.text-25 {
  font-size: 25px;
}

.text-26 {
  font-size: 26px;
}

.text-27 {
  font-size: 27px;
}

.text-28 {
  font-size: 28px;
}

.text-29 {
  font-size: 29px;
}

.text-30 {
  font-size: 30px;
}

.text-31 {
  font-size: 31px;
}

.text-32 {
  font-size: 32px;
}

.text-33 {
  font-size: 33px;
}

.text-34 {
  font-size: 34px;
}

.text-35 {
  font-size: 35px;
}

.text-36 {
  font-size: 36px;
}

.text-37 {
  font-size: 37px;
}

.text-38 {
  font-size: 38px;
}

.text-39 {
  font-size: 39px;
}

.text-40 {
  font-size: 40px;
}

.text-clamp-50-to-200 {
  font-size: clamp(50px, 10vw, 200px);
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.spacing-1 {
  letter-spacing: 1px;
}

.leading-16 {
  line-height: 16px;
}

.leading-18 {
  line-height: 18px;
}

.leading-20 {
  line-height: 20px;
}

.leading-21 {
  line-height: 21px;
}

.leading-22 {
  line-height: 22px;
}

.leading-24 {
  line-height: 24px;
}

.leading-30 {
  line-height: 30px;
}

.leading-31 {
  line-height: 31px;
}

.leading-37 {
  line-height: 37px;
}

.leading-38 {
  line-height: 38px;
}

.leading-50 {
  line-height: 50px;
}

.leading-75 {
  line-height: 75px;
}

.leading-140 {
  line-height: 140px;
}

.list-none {
  list-style-type: none;
}

.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.transition-default-t {
  -webkit-transition: top 80ms linear;
  transition: top 80ms linear;
}

.transition-default-r {
  -webkit-transition: right 80ms linear;
  transition: right 80ms linear;
}

.transition-default-b {
  -webkit-transition: bottom 80ms linear;
  transition: bottom 80ms linear;
}

.transition-default-l {
  -webkit-transition: left 80ms linear;
  transition: left 80ms linear;
}

.underline {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.line-through {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}

.no-underline {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-normal {
  word-break: normal;
}

.break-words {
  word-break: break-word;
}

.break-all {
  word-break: break-all;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top;
}

.bg-top {
  background-position: top;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-none {
  background-image: none;
}

.rounded-none {
  border-radius: 0;
}

.rounded-full {
  border-radius: 50%;
}

.rounded-1 {
  border-radius: 1px;
}

.rounded-t-1 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.rounded-r-1 {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.rounded-b-1 {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.rounded-l-1 {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.rounded-tl-1 {
  border-top-left-radius: 1px;
}

.rounded-tr-1 {
  border-top-right-radius: 1px;
}

.rounded-br-1 {
  border-bottom-right-radius: 1px;
}

.rounded-bl-1 {
  border-bottom-left-radius: 1px;
}

.border-1 {
  border-width: 1px;
}

.border-t-1 {
  border-top-width: 1px;
}

.border-r-1 {
  border-right-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-t-solid {
  border-top-style: solid;
}

.border-r-solid {
  border-right-style: solid;
}

.border-b-solid {
  border-bottom-style: solid;
}

.border-l-solid {
  border-left-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-none {
  border-style: none;
}

.shadow-default {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.shadow-bottom {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
}

.shadow-right {
  -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.08);
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.opacity-0 {
  opacity: 0;
}

.opacity-5 {
  opacity: 0.05;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}

.opacity-100 {
  opacity: 1;
}

.hover\:opacity-70:hover {
  opacity: 0.7;
}

.hover\:underline:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-help {
  cursor: help;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.select-auto {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

@media (max-width: 1200px) {
  .media-1190\:hidden {
    display: none;
  }
  .media-1190\:block {
    display: block;
  }
  .media-1190\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-1190\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-1190\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-1190\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-1190\:w-full {
    width: 100%;
  }
  .media-1190\:max-w-full {
    max-width: 100%;
  }
  .media-1190\:m-0 {
    margin: 0;
  }
  .media-1190\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-1190\:p-0 {
    padding-top: 0;
  }
  .media-1190\:text-center {
    text-align: center;
  }
  .media-1190\:grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 1023px) {
  .media-1023\:hidden {
    display: none;
  }
  .media-1023\:block {
    display: block;
  }
  .media-1023\:flex-initial {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .media-1023\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-1023\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-1023\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-1023\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-1023\:w-full {
    width: 100%;
  }
  .media-1023\:max-w-full {
    max-width: 100%;
  }
  .media-1023\:m-0 {
    margin: 0;
  }
  .media-1023\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-1023\:px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .media-1023\:px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .media-1023\:text-center {
    text-align: center;
  }
  .media-1023\:grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 991px) {
  .media-991\:hidden {
    display: none;
  }
  .media-991\:block {
    display: block;
  }
  .media-991\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-991\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-991\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-991\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-991\:w-full {
    width: 100%;
  }
  .media-991\:max-w-full {
    max-width: 100%;
  }
  .media-991\:m-0 {
    margin: 0;
  }
  .media-991\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-991\:p-0 {
    padding-top: 0;
  }
  .media-991\:text-center {
    text-align: center;
  }
  .media-991\:grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 776px) {
  .media-776\:hidden {
    display: none;
  }
  .media-776\:block {
    display: block;
  }
  .media-776\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-776\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-776\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-776\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-776\:w-full {
    width: 100%;
  }
  .media-776\:max-w-full {
    max-width: 100%;
  }
  .media-776\:m-0 {
    margin: 0;
  }
  .media-776\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-776\:p-0 {
    padding-top: 0;
  }
  .media-776\:text-center {
    text-align: center;
  }
  .media-776\:grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 580px) {
  .media-580\:hidden {
    display: none;
  }
  .media-580\:block {
    display: block;
  }
  .media-580\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-580\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-580\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-580\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-580\:w-full {
    width: 100%;
  }
  .media-580\:max-w-full {
    max-width: 100%;
  }
  .media-580\:m-0 {
    margin: 0;
  }
  .media-580\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-580\:p-0 {
    padding-top: 0;
  }
  .media-580\:text-center {
    text-align: center;
  }
  .media-580\:grid-cols-1 {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.css-position-x {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.css-position-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.css-position-x-y {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=utilities.css.map */