@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
  font-size: 16px;
  color: var(--clr-secondary-2);
  overflow-x: hidden;
  background-color: var(--clr-background);
}

body {
  -webkit-transition: background-color linear 80ms;
  transition: background-color linear 80ms;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

b,
strong {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
}

span {
  font-size: inherit;
  color: inherit;
}

a {
  color: var(--clr-primary);
}

a:hover {
  color: #fff;
  text-decoration: none;
}

td {
  padding: 10px;
}

ul,
ol {
  padding-left: 25px;
  list-style: none;
}

ul.primary li::before {
  background-color: var(--clr-primary);
}

ul li {
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--clr-secondary);
  border-radius: 50%;
  top: 8px;
  left: -15px;
}

ol {
  counter-reset: li;
}

ol.primary li::before {
  color: var(--clr-primary);
}

ol li {
  position: relative;
  counter-increment: li;
}

ol li::before {
  content: counter(li) ".";
  color: var(--clr-secondary);
  position: absolute;
  top: 0px;
  left: -25px;
}

li,
p {
  line-height: 24px;
}

.btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

:root {
  --clr-primary: #000;
  --clr-secondary: #57b8d5;
  --clr-gray: #e9e9e9;
  --clr-brown: #2b1f1d;
  --clr-pink-100: #f5e7d2;
  --clr-pink-200: #d8bb9e;
  --clr-green: #74941b;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-black-800: #3b3b3b;
  --font-segoe: "segoe";
  --font-segoe-bold: "segoe-bold";
  --font-segoe-light: "segoe-light";
  --font-segoe-black: "segoe-black";
  --font-acid: "acid";
  --font-railroad: "railroad";
  --font-trebuchet-regular: "trebuchet-regular";
  --font-trebuchet-bold: "trebuchet-bold";
  --font-futura: "futura";
  --font-futura-bold: "futura-bold";
  --font-roboto-slab-bold: "'Roboto Slab', serif";
}

.text-white {
  color: var(--clr-white);
}

.bg-white {
  background-color: var(--clr-white);
}

.border-white {
  border-color: var(--clr-white);
}

.hover\:text-white:hover {
  color: var(--clr-white);
}

.text-black {
  color: var(--clr-black);
}

.bg-black {
  background-color: var(--clr-black);
}

.border-black {
  border-color: var(--clr-black);
}

.hover\:text-black:hover {
  color: var(--clr-black);
}

.text-black-800 {
  color: var(--clr-black-800);
}

.bg-black-800 {
  background-color: var(--clr-black-800);
}

.border-black-800 {
  border-color: var(--clr-black-800);
}

.hover\:text-black-800:hover {
  color: var(--clr-black-800);
}

.text-gray {
  color: var(--clr-gray);
}

.bg-gray {
  background-color: var(--clr-gray);
}

.border-gray {
  border-color: var(--clr-gray);
}

.hover\:text-gray:hover {
  color: var(--clr-gray);
}

.text-brown {
  color: var(--clr-brown);
}

.bg-brown {
  background-color: var(--clr-brown);
}

.border-brown {
  border-color: var(--clr-brown);
}

.hover\:text-brown:hover {
  color: var(--clr-brown);
}

.text-pink-100 {
  color: var(--clr-pink-100);
}

.bg-pink-100 {
  background-color: var(--clr-pink-100);
}

.border-pink-100 {
  border-color: var(--clr-pink-100);
}

.hover\:text-pink-100:hover {
  color: var(--clr-pink-100);
}

.text-pink-200 {
  color: var(--clr-pink-200);
}

.bg-pink-200 {
  background-color: var(--clr-pink-200);
}

.border-pink-200 {
  border-color: var(--clr-pink-200);
}

.hover\:text-pink-200:hover {
  color: var(--clr-pink-200);
}

.text-green {
  color: var(--clr-green);
}

.bg-green {
  background-color: var(--clr-green);
}

.border-green {
  border-color: var(--clr-green);
}

.hover\:text-green:hover {
  color: var(--clr-green);
}

.text-primary {
  color: var(--clr-primary);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.border-primary {
  border-color: var(--clr-primary);
}

.hover\:text-primary:hover {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.border-secondary {
  border-color: var(--clr-secondary);
}

.hover\:text-secondary:hover {
  color: var(--clr-secondary);
}

.box-border {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box-content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.hidden {
  display: none;
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-scale-down {
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.-z-2 {
  z-index: -2;
}

.-z-1 {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-auto {
  z-index: auto;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-initial {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.-order-1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.grid-cols-1 {
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  -ms-grid-columns: (minmax(0, 1fr))[5];
      grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-none {
  -ms-grid-columns: none;
      grid-template-columns: none;
}

.col-span-full {
  grid-column: 1 / -1;
}

.grid-rows-1 {
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  -ms-grid-rows: (minmax(0, 1fr))[2];
      grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  -ms-grid-rows: (minmax(0, 1fr))[3];
      grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  -ms-grid-rows: (minmax(0, 1fr))[4];
      grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  -ms-grid-rows: (minmax(0, 1fr))[5];
      grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-none {
  -ms-grid-rows: none;
      grid-template-rows: none;
}

.row-span-full {
  grid-row: 1 / -1;
}

.gap-30 {
  gap: 30px;
}

.gap-50 {
  gap: 50px;
}

.gap-x-30 {
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.gap-x-100 {
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.gap-y-15 {
  row-gap: 15px;
}

.gap-y-30 {
  row-gap: 30px;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-items-auto {
  justify-items: auto;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-self-auto {
  -ms-grid-column-align: auto;
      justify-self: auto;
}

.justify-self-start {
  -ms-grid-column-align: start;
      justify-self: start;
}

.justify-self-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

.justify-self-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.justify-self-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.content-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-stretch {
  place-content: stretch;
}

.place-items-auto {
  place-items: auto;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-stretch {
  place-items: stretch;
}

.place-self-auto {
  place-self: auto;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-self-stretch {
  place-self: stretch;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.p-75 {
  padding: 75px;
}

.p-90 {
  padding: 90px;
}

.p-95 {
  padding: 95px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-95 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.px-95 {
  padding-left: 95px;
  padding-right: 95px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1px;
}

.m-4 {
  margin: 4px;
}

.m-10 {
  margin: 10px;
}

.m-11 {
  margin: 11px;
}

.m-20 {
  margin: 20px;
}

.m-22 {
  margin: 22px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-55 {
  margin: 55px;
}

.m-80 {
  margin: 80px;
}

.m-120 {
  margin: 120px;
}

.m-130 {
  margin: 130px;
}

.m-177 {
  margin: 177px;
}

.m-200 {
  margin: 200px;
}

.my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-11 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my-55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.my-130 {
  margin-top: 130px;
  margin-bottom: 130px;
}

.my-177 {
  margin-top: 177px;
  margin-bottom: 177px;
}

.my-200 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-11 {
  margin-left: 11px;
  margin-right: 11px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-22 {
  margin-left: 22px;
  margin-right: 22px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-35 {
  margin-left: 35px;
  margin-right: 35px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-45 {
  margin-left: 45px;
  margin-right: 45px;
}

.mx-55 {
  margin-left: 55px;
  margin-right: 55px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx-120 {
  margin-left: 120px;
  margin-right: 120px;
}

.mx-130 {
  margin-left: 130px;
  margin-right: 130px;
}

.mx-177 {
  margin-left: 177px;
  margin-right: 177px;
}

.mx-200 {
  margin-left: 200px;
  margin-right: 200px;
}

.-m-t-400 {
  margin-top: -400px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-177 {
  margin-top: 177px;
}

.mt-200 {
  margin-top: 200px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-11 {
  margin-right: 11px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-22 {
  margin-right: 22px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-177 {
  margin-right: 177px;
}

.mr-200 {
  margin-right: 200px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-177 {
  margin-bottom: 177px;
}

.mb-200 {
  margin-bottom: 200px;
}

.ml-1 {
  margin-left: 1px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-11 {
  margin-left: 11px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-22 {
  margin-left: 22px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-177 {
  margin-left: 177px;
}

.ml-200 {
  margin-left: 200px;
}

.w-full {
  width: 100%;
}

.w-3 {
  width: 3px;
}

.w-12 {
  width: 12px;
}

.w-200 {
  width: 200px;
}

.w-216 {
  width: 216px;
}

.min-w-1 {
  min-width: 1px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-307 {
  max-width: 307px;
}

.max-w-395 {
  max-width: 395px;
}

.max-w-400 {
  max-width: 400px;
}

.max-w-900 {
  max-width: 900px;
}

.max-w-950 {
  max-width: 950px;
}

.max-w-1100 {
  max-width: 1100px;
}

.max-w-1260 {
  max-width: 1260px;
}

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-1 {
  height: 1px;
}

.h-2 {
  height: 2px;
}

.h-12 {
  height: 12px;
}

.h-34 {
  height: 34px;
}

.h-520 {
  height: 520px;
}

.h-620 {
  height: 620px;
}

.h-740 {
  height: 740px;
}

.h-800 {
  height: 800px;
}

.min-h-1 {
  min-height: 1px;
}

.max-h-1 {
  max-height: 1px;
}

@font-face {
  font-family: "segoe";
  src: url("/CMS/site/fonts/Segoe-UI/segoeui.ttf") format("truetype");
}

@font-face {
  font-family: "segoe-bold";
  src: url("/CMS/site/fonts/Segoe-UI/segoeuib.ttf") format("truetype");
}

@font-face {
  font-family: "segoe-light";
  src: url("/CMS/site/fonts/Segoe-UI/segoeuil.ttf") format("truetype");
}

@font-face {
  font-family: "segoe-black";
  src: url("/CMS/site/fonts/Segoe-UI/seguibl.ttf") format("truetype");
}

@font-face {
  font-family: "acid";
  src: url("/CMS/site/fonts/AC-Compacta/AC-Compacta.otf") format("opentype");
}

@font-face {
  font-family: "railroad";
  src: url("/CMS/site/fonts/Railroad/IFC-RAILROAD.ttf") format("truetype");
}

@font-face {
  font-family: "trebuchet-regular";
  src: url("/CMS/site/fonts/Trebuchet/trebuc.ttf") format("truetype");
}

@font-face {
  font-family: "trebuchet-bold";
  src: url("/CMS/site/fonts/Trebuchet/trebucbd.ttf") format("truetype");
}

@font-face {
  font-family: "futura";
  src: url("/CMS/site/fonts/Futura/PFFuturaNeuBook-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "futura-bold";
  src: url("/CMS/site/fonts/Futura/PFFuturaNeu-Bold.ttf") format("truetype");
}

.font-segoe {
  font-family: var(--font-segoe);
}

.font-segoe-bold {
  font-family: var(--font-segoe-bold);
}

.font-segoe-light {
  font-family: var(--font-segoe-light);
}

.font-segoe-black {
  font-family: var(--font-segoe-black);
}

.font-acid {
  font-family: var(--font-acid);
}

.font-railroad {
  font-family: var(--font-railroad);
}

.font-trebuchet-regular {
  font-family: var(--font-trebuchet-regular);
}

.font-trebuchet-bold {
  font-family: var(--font-trebuchet-bold);
}

.font-futura {
  font-family: var(--font-futura);
}

.font-futura-bold {
  font-family: var(--font-futura-bold);
}

.font-roboto-slab-bold {
  font-family: "Roboto Slab";
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-25 {
  font-size: 25px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px;
}

.text-40 {
  font-size: 40px;
}

.text-46 {
  font-size: 46px;
}

.text-48 {
  font-size: 48px;
}

.text-50 {
  font-size: 50px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.leading-24 {
  line-height: 24px;
}

.list-none {
  list-style-type: none;
}

.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.transition-default-t {
  -webkit-transition: top 80ms linear;
  transition: top 80ms linear;
}

.transition-default-r {
  -webkit-transition: right 80ms linear;
  transition: right 80ms linear;
}

.transition-default-b {
  -webkit-transition: bottom 80ms linear;
  transition: bottom 80ms linear;
}

.transition-default-l {
  -webkit-transition: left 80ms linear;
  transition: left 80ms linear;
}

.underline {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.line-through {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}

.no-underline {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-normal {
  word-break: normal;
}

.break-words {
  word-break: break-word;
}

.break-all {
  word-break: break-all;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top;
}

.bg-top {
  background-position: top;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-none {
  background-image: none;
}

.rounded-none {
  border-radius: 0;
}

.rounded-full {
  border-radius: 50%;
}

.rounded-1 {
  border-radius: 1px;
}

.rounded-t-1 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.rounded-r-1 {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.rounded-b-1 {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.rounded-l-1 {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.rounded-tl-1 {
  border-top-left-radius: 1px;
}

.rounded-tr-1 {
  border-top-right-radius: 1px;
}

.rounded-br-1 {
  border-bottom-right-radius: 1px;
}

.rounded-bl-1 {
  border-bottom-left-radius: 1px;
}

.border-t-1 {
  border-top-width: 1px;
}

.border-r-1 {
  border-right-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-none {
  border-style: none;
}

.shadow-default {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.shadow-bottom {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
}

.shadow-right {
  -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.08);
}

.opacity-0 {
  opacity: 0;
}

.opacity-5 {
  opacity: 0.05;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}

.opacity-100 {
  opacity: 1;
}

.hover\:opacity-70:hover {
  opacity: 0.7;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-help {
  cursor: help;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.select-auto {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

@media (max-width: 1400px) {
  .media-1400\:px-40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .media-1400\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-1400\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-1400\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-1400\:mt-40 {
    margin-top: 40px;
  }
  .media-1400\:m-40 {
    margin: 40px;
  }
  .media-1400\:ml-0 {
    margin-left: 0;
  }
}

@media (max-width: 1190px) {
  .media-1190\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-1190\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991px) {
  .media-991\:hidden {
    display: none;
  }
  .media-991\:block {
    display: block;
  }
  .media-991\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media-991\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .media-991\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-991\:w-full {
    width: 100%;
  }
  .media-991\:w-3 {
    width: 3px;
  }
  .media-991\:max-w-full {
    max-width: 100%;
  }
  .media-991\:text-28 {
    font-size: 28px;
  }
  .media-991\:text-30 {
    font-size: 30px;
  }
  .media-991\:m-1 {
    margin: 1px;
  }
  .media-991\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .media-991\:text-center {
    text-align: center;
  }
}

body.dark-mode {
  --clr-primary: #0f79e4;
  --clr-white-2: #adadad;
  --clr-gray: #727272;
  --clr-background: #1a1a1a;
}

.css-switch-input:checked + .css-switch-label {
  background-color: var(--clr-primary);
  opacity: 0.5;
}

.css-switch-input:checked ~ .css-switch-ball {
  -webkit-transform: translate(12px, -50%);
          transform: translate(12px, -50%);
  background-color: var(--clr-primary);
}

.css-switch-container {
  position: relative;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
}

.css-switch-input {
  position: absolute;
  opacity: 0;
}

.css-switch-label {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
  height: 12px;
  width: 28px;
  background-color: var(--clr-gray);
  position: relative;
  -webkit-transition: background-color linear 80ms;
  transition: background-color linear 80ms;
}

.css-switch-ball {
  background-color: var(--clr-white-2);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  display: block;
  height: 16px;
  -webkit-transition: background-color linear 80ms, -webkit-transform linear 80ms;
  transition: background-color linear 80ms, -webkit-transform linear 80ms;
  transition: transform linear 80ms, background-color linear 80ms;
  transition: transform linear 80ms, background-color linear 80ms, -webkit-transform linear 80ms;
  width: 16px;
  z-index: 1;
  pointer-events: none;
}
/*# sourceMappingURL=utilities.css.map */