// Media -- <div cass="sm:text-xs"></div>
$media: (
  "sm": "640px",
  "md": "768px",
  "lg": "1024px",
  "xl": "1280px",
  "xl2": "1536px",
);

// Font Families -- <div cass="font-open"></div>
$font-families: (
  "open": "Open Sans, sans serif",
  "roboto": "Roboto, sans serif",
  "mono": "Monospace, sans serif",
);

// Font Sizes -- <div cass="text-xs"></div>
$texts: (
  "xs": 0.75rem /* 12px */,
  "sm": 0.875rem /* 14px */,
  "4xl": 2.25rem /* 36px */,
);

// Font Weights -- .font-100
$font-weights: (
  "100": 100,
  "300": 300,
);

// Font Style
$font-styles: (
  "italic": "italic",
  "normal": "normal",
  "inherit": "inherit",
);

// Letter Spacing
$letter-spacings: (
  "1": 1px,
  "2": 2px,
  "3": 3px,
);

// Line Heights
$line-heights: (
  "25": 25px,
  "30": 30px,
  "42": 42px,
);

// Colors
$text-colors: (
  "1": #fff,
  "2": #fff,
  "3": #fff,
);

// Text Decorations
$text-decorations: (
  "underline": underline,
  "no-underline": none,
  "line-through": line-through,
);

// Text Transforms
$text-transforms: (
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
  "normal-case": normal,
);

// Background Colors
$background-colors: (
  "1": #fff,
  "2": #fff,
  "3": #fff,
);

// Widts
$widths: (
  "screen": "100vw",
  "auto": "auto",
  "full": "100%",
  "0": "0",
  "1\\/2": "50%",
  "1\\/3": "33.333333%",
  "2\\/3": "66.666667%",
  "2\\/4": "50%",
  "3\\/4": "75%",
  "1\\/5": "20%",
  "2\\/5": "40%",
  "3\\/5": "60%",
  "4\\/5": "80%",
  "1\\/6": "16.666667%",
  "2\\/6": "33.333333%",
  "3\\/6": "50%",
  "4\\/6": "66.666667%",
  "5\\/6": "83.333333%",
  "1\\/12": "83.333333%",
  "2\\/12": "16.666667%",
  "3\\/12": "25%",
  "4\\/12": "33.333333%",
  "5\\/12": "41.666667%",
  "6\\/12": "50%",
  "7\\/12": "58.333333%",
  "8\\/12": "66.666667%",
  "9\\/12": "75%",
  "10\\/12": "83.333333%",
  "11\\/12": "91.666667%",
);

// Max Widths
$max-widths: (
  "full": "100%",
  "1000": "1000px",
  "1200": "1200px",
  "1600": "1600px",
);

// Heights
$heights: (
  "screen": "100vh",
  "auto": "auto",
  "full": "100%",
  "0": "0",
  "1\\/2": "50%",
  "1\\/3": "33.333333%",
  "2\\/3": "66.666667%",
  "2\\/4": "50%",
  "3\\/4": "75%",
  "1\\/5": "20%",
  "2\\/5": "40%",
  "3\\/5": "60%",
  "4\\/5": "80%",
  "1\\/6": "16.666667%",
  "2\\/6": "33.333333%",
  "3\\/6": "50%",
  "4\\/6": "66.666667%",
  "5\\/6": "83.333333%",
  "1\\/12": "83.333333%",
  "2\\/12": "16.666667%",
  "3\\/12": "25%",
  "4\\/12": "33.333333%",
  "5\\/12": "41.666667%",
  "6\\/12": "50%",
  "7\\/12": "58.333333%",
  "8\\/12": "66.666667%",
  "9\\/12": "75%",
  "10\\/12": "83.333333%",
  "11\\/12": "91.666667%",
);

// Spacing
// $spacing-main: (
//   "auto": "auto",
//   "0": "0",
// );

// $spacings: (
//   "0\\.5": "0.125rem",
//   "1": "0.25rem",
//   "2": "0.5rem",
//   "2\\.5": "0.625ren",
//   "3": "0.75rem",
//   "3\\.5": "0.875rem",
//   "4": "1rem",
//   "5": "1.25rem",
//   "6": "1.5rem",
//   "7": "1.75rem",
//   "8": "2rem",
//   "9": "2.25rem",
//   "10": "2.5rem",
//   "11": "2.75rem",
//   "12": "3rem",
//   "14": "3.5rem",
//   "16": "4rem",
//   "20": "5rem",
//   "24": "6rem",
//   "28": "7rem",
//   "32": "8rem",
//   "36": "9rem",
//   "40": "10rem",
// );
