// Media ------------------- Editable -------------------
$media: (
	"media-1300": 1300px,
	"media-1200": 1200px,
	"media-991": 991px,
	"media-680": 680px,
);

// Spacing
$spacing-attributes-p: (
	"p": padding,
);

$spacing-attributes-m: (
	"m": margin,
);

$spacing-directions: (
	"": "",
	"t": -top,
	"r": -right,
	"b": -bottom,
	"l": -left,
);

$spacing-directions-x: (
	"x": "x",
);

$spacing-directions-y: (
	"y": "y",
);

// ------------------- Editable -------------------
$spacing-values-p: (
	"0": 0,
	"10": 10px,
	"15": 15px,
	"20": 20px,
	"30": 30px,
	"50": 50px,
	"57": 57px,
	"60": 60px,
	"80": 80px,
	"100": 100px,
	"150": 150px,
);

// ------------------- Editable -------------------
$spacing-values-m: (
	"auto": auto,
	"0": 0px,
	"8": 8px,
	"12": 12px,
	"15": 15px,
	"20": 20px,
	"25": 25px,
	"30": 30px,
	"50": 50px,
	"80": 80px,
	"60": 60px,
	"66": 66px,
	"100": 100px,
	"115": 115px,
	"189": 189px,
);

// Widths ------------------- Editable -------------------
$widths: (
	"screen": 100vw,
	"auto": auto,
	"full": 100%,
	"20\\%": 20%,
	"5": 5px,
	"10": 10px,
	"155": 155px,
	"170": 170px,
	"200": 200px,
);

// ------------------- Editable -------------------
$max-widths: (
	"full": 100%,
	"155": 155px,
	"370": 370px,
	"396": 396px,
	"435": 435px,
	"540": 540px,
	"550": 550px,
	"700": 700px,
	"727": 727px,
	"775": 775px,
	"930": 930px,
	"957": 957px,
	"1000": 1000px,
	"1100": 1100px,
	"1335": 1335px,
);

// Heights ------------------- Editable -------------------
$heights: (
	"screen": 100vw,
	"auto": auto,
	"full": 100%,
	"2": 2px,
	"4": 4px,
	"45": 45px,
	"70": 70px,
	"86": 86px,
	"36": 36px,
	"294": 294px,
	"330": 330px,
	"520": 520px,
	"600": 600px,
	"666": 666px,
	"985": 985px,
);

// Font Weights
$weights: (
	"thin": 100,
	"extralight": 200,
	"light": 300,
	"regular": 400,
	"medium": 500,
	"semibold": 600,
	"bold": 700,
	"extrabold": 800,
	"black": 900,
);

// Fonts ------------------- Editable -------------------
$fonts: (
	"roboto": var(--font-roboto),
	"roboto-condensed": var(--font-roboto-condensed),
);

// Texts
$text-positions: (
	"center": center,
	"left": left,
	"right": right,
	"justify": justify,
);

$text-styles: (
	"italic": italic,
	"normal": normal,
	"inherit": inherit,
);

$text-decorations: (
	"underline": underline,
	"no-underline": none,
	"line-through": line-through,
);

$text-transforms: (
	"uppercase": uppercase,
	"lowercase": lowercase,
	"capitalize": capitalize,
	"normal": normal,
);

// ------------------- Editable-------------------
$texts: (
	"12": 12px,
	"15": 15px,
	"18": 18px,
	"20": 20px,
	"25": 25px,
	"30": 30px,
	"70": 70px,
	"154": 154px,
);

// Displays
$display: (
	"hidden": none,
	"block": block,
	"inline": inline,
	"inline-block": inline-block,
	"flex": flex,
	"grid": grid,
);

// Flex
$flex: (
	"1": 1 1 0%,
	"auto": 1 1 auto,
	"initial": 0 1 auto,
	"none": none,
);

$flex-directions: (
	"col": column,
	"row": row,
);

$flex-wraps: (
	"flex-wrap": wrap,
	"flex-wrap-reverse": wrap-reverse,
	"flex-nowrap": nowrap,
);

$flex-justify-content: (
	"justify-start": flex-start,
	"justify-end": flex-end,
	"justify-center": center,
	"justify-between": space-between,
	"justify-around": space-around,
	"justify-evenly": space-evenly,
);

$flex-align-items: (
	"items-start": flex-start,
	"items-end": flex-end,
	"items-center": center,
	"items-baseline": baseline,
	"items-stretch": stretch,
);

$flex-justify-self: (
	"justify-self-auto": auto,
	"justify-self-start": start,
	"justify-self-end": end,
	"justify-self-center": center,
	"justify-self-stretch": stretch,
);

$flex-align-self: (
	"align-self-auto": auto,
	"align-self-start": start,
	"align-self-end": end,
	"align-self-center": center,
	"align-self-stretch": stretch,
);

// Grid
$grid-template-columns: (
	"grid-cols-1": 1,
	"grid-cols-2": 2,
	"grid-cols-3": 3,
	"grid-cols-4": 4,
	"grid-cols-5": 5,
);

$grid-gap: (
	"0": 0,
	"8": 8px,
);

// Positions
$positions: (
	"relative": relative,
	"absolute": absolute,
	"static": static,
	"sticky": sticky,
);

// Z-Index
$z-index: (
	"-z-2": -2,
	"-z-1": -1,
	"z-0": 0,
	"z-1": 1,
	"z-2": 2,
	"z-3": 3,
);

// Colors ------------------- Editable-------------------
$colors: (
	"primary": var(--clr-primary),
	"primary-2": var(--clr-primary-2),
	"secondary": var(--clr-secondary),
	"secondary-2": var(--clr-secondary-2),
	"secondary-3": var(--clr-secondary-3),
	"secondary-4": var(--clr-secondary-4),
	"white": #fff,
	"black": #000,
);

// Hovers ------------------- Editable-------------------
$opacity: (
	"opacity": opacity,
);

$opacity-scales: (
	"0": 0,
	"10": 0.1,
	"20": 0.2,
	"30": 0.3,
	"40": 0.4,
	"50": 0.5,
	"60": 0.6,
	"70": 0.7,
	"80": 0.8,
	"90": 0.9,
	"100": 1,
);

// Background Positions
$background-positions: (
	"bg-bottom": bottom,
	"bg-center": center,
	"bg-left": left,
	"bg-left-bottom": left bottom,
	"bg-left-top": left top,
	"bg-right": right,
	"bg-right-bottom": right bottom,
	"bg-right-top": right top,
	"bg-top": top,
);

// Background Image
$background-image: (
	"bg-none": none,
);

// Background Sizes
$background-sizes: (
	"bg-auto": auto,
	"bg-cover": cover,
	"bg-contain": contain,
);

// Background Repeat
$background-repeats: (
	"bg-repeat": repeat,
	"bg-no-repeat": no-repeat,
	"bg-repeat-x": repeat-x,
	"bg-repeat-y": repeat-y,
	"bg-repeat-round": round,
	"bg-repeat-space": space,
);

// Background Attachment
$background-attatchments: (
	"bg-fixed": fixed,
	"bg-local": local,
	"bg-scroll": scroll,
);

// Object Fit
$object-fit: (
	"object-contain": contain,
	"object-cover": cover,
);

// Cursor
$cursor: (
	"cursor-auto": auto,
	"cursor-default": default,
	"cursor-pointer": pointer,
	"cursor-wait": wait,
	"cursor-text": text,
	"cursor-move": move,
	"cursor-help": help,
	"cursor-not-allowed": not-allowed,
);

// Overflow
$overflow: (
	"overflow-auto": auto,
	"overflow-hidden": hidden,
	"overflow-visible": visible,
	"overflow-scroll": scroll,
);

// Overflow
$overflow-x: (
	"overflow-x-auto": auto,
	"overflow-x-hidden": hidden,
	"overflow-x-visible": visible,
	"overflow-x-scroll": scroll,
);

// Overflow
$overflow-y: (
	"overflow-y-auto": auto,
	"overflow-y-hidden": hidden,
	"overflow-y-visible": visible,
	"overflow-y-scroll	": scroll,
);

// // $media: (
// // 	"lg": "1024px",
// // 	"md": "767px",
// // 	"sm": "640px",
// // );

// // $media: (
// // 	"sm": 640,
// // 	"md": 767,
// // 	"lg": 1023,
// // 	"xl": 1279,
// // );

// // $colors-list: #111 #222 #333 #444 #555;
// // @each $current-color in $colors-list {
// // 	$i: index($colors-list, $current-color);
// // 	@if ($i == 1) {
// // 		.stuff-#{$i} {
// // 			background-color: $current-color;
// // 		}
// // 	} @else {
// // 		.stuff-#{$i} {
// // 			color: $current-color;
// // 		}
// // 	}
// // }

// // Font Families -- <div class="font-open"></div>
// $font-families: (
// 	"open": "Open Sans, sans serif",
// 	"roboto": "Roboto, sans serif",
// 	"mono": "Monospace, sans serif",
// );

// // Font Sizes With Clamps -- <div class="text-50-clamp"></div> || REF
// $text-clamps: (
// 	"50": 50px,
// );

// // Letter Spacing -- <div class="letter-spacing-1"></div>
// $letter-spacings: (
// 	"1": 1px,
// 	"2": 2px,
// 	"3": 3px,
// );

// // Line Heights -- <div class="line-height-25"></div>
// $line-heights: (
// 	"25": 25px,
// 	"30": 30px,
// 	"42": 42px,
// );

// // Spacing
// // $spacing-main: (
// //   "auto": "auto",
// //   "0": "0",
// // );

// // Borders -- <div class="border"></div>
// $borders: (
// 	"border": 1px,
// 	"border-0": 0px,
// 	"border-2": 2px,
// 	"border-4": 4px,
// 	"border-8": 8px,
// );

// // Border Styles -- <div class="border-solid"></div>
// $border-styles: (
// 	"solid": solid,
// 	"dashed": dashed,
// 	"dotted": dotted,
// 	"double": double,
// 	"none": none,
// );

// // Border Direction
// $border-directions: (
// 	"t": top,
// 	"r": right,
// 	"b": bottom,
// 	"l": left,
// );

// // Border Radius Positions -- <div class="border-tr-radius-0"></div>
// $border-radius-positions: (
// 	"tr": "top-right",
// 	"tl": "top-left",
// 	"br": "bottom-right",
// 	"bl": "bottom-left",
// );

// // Border Values -- <div class="border border-t-0"></div>
// $border-values: (
// 	"0": 0,
// 	"1": 1,
// 	"2": 2,
// 	"4": 4,
// 	"8": 8,
// 	"10": 10,
// );

// // :root {
// //     --color_rgb: 250, 250, 250;
// //     --color_hsl: 250, 50%, 50%;
// // }

// // div {
// //     /* This is valid CSS, but will fail in a scss compilation */
// //     background-color: rgba(var(--color_rgb), 0.5);

// //     /* This is valid scss, and will generate the CSS above */
// //     background-color: #{'rgba(var(--color_rgb), 0.5)'};
// // }

// // Border Colors -- <div class="border border-t-1 border-white"></div> || REF
// // $border-colors: (
// // 	"main-0": "rgba(100, 100, 100, 0)",
// // 	"main-5": "rgba(100, 100, 100, 0.05)",
// // 	"main-10": "rgba(100, 100, 100, 0.1)",
// // 	"main-100": "rgba(100, 100, 100, 100)",
// // );

// // Border Opacity -- <div class="border border-t-1 border-white border-opacity-0"></div>
// // $border-opacity: (
// //   "0": 0,
// //   "5": 0.05,
// //   "10": 0.1,
// // );

// // Flex Shrink -- <div class="flex-shrink-0"></div> || REF

// // Flex Grow -- <div class="flex-grow-0"></div> || REF

// // Flex Basis -- <div class="space-x-2"></div>

// // Grid Spaces -- <div class="space-x-2"></div>

// // Box Shodows -- <div class=""></div>

// // Transform -- <div class=""></div>

// // Hover -- <div class=""></div>
