// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400&display=swap");

// Root
:root {
	--clr-primary: #51c0ad;
	--clr-primary-2: #00887a;
	--clr-secondary: #003d7c;
	--clr-secondary-2: #424f5b;
	--clr-secondary-3: #eeeeee;
	--clr-secondary-4: #006cb8;

	--font-roboto: "Roboto", sans-serif;
	--font-roboto-condensed: "Roboto Condensed", sans-serif;
}
