/*Font Families*/
.font-open {
  font-family: "Open Sans, sans serif";
}

.font-roboto {
  font-family: "Roboto, sans serif";
}

.font-mono {
  font-family: "Monospace, sans serif";
}

/*Font Sizes*/
.text-xs {
  font-size: 0.75rem;
  line-height: calc(0.75rem + 0.25rem);
}

@media (max-width: 640px) {
  .sm\:text-xs {
    font-size: 0.75rem;
    line-height: calc(0.75rem + 0.25rem);
  }
}

@media (max-width: 768px) {
  .md\:text-xs {
    font-size: 0.75rem;
    line-height: calc(0.75rem + 0.25rem);
  }
}

@media (max-width: 1024px) {
  .lg\:text-xs {
    font-size: 0.75rem;
    line-height: calc(0.75rem + 0.25rem);
  }
}

@media (max-width: 1280px) {
  .xl\:text-xs {
    font-size: 0.75rem;
    line-height: calc(0.75rem + 0.25rem);
  }
}

@media (max-width: 1536px) {
  .xl2\:text-xs {
    font-size: 0.75rem;
    line-height: calc(0.75rem + 0.25rem);
  }
}

.text-sm {
  font-size: 0.875rem;
  line-height: calc(0.875rem + 0.25rem);
}

@media (max-width: 640px) {
  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: calc(0.875rem + 0.25rem);
  }
}

@media (max-width: 768px) {
  .md\:text-sm {
    font-size: 0.875rem;
    line-height: calc(0.875rem + 0.25rem);
  }
}

@media (max-width: 1024px) {
  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: calc(0.875rem + 0.25rem);
  }
}

@media (max-width: 1280px) {
  .xl\:text-sm {
    font-size: 0.875rem;
    line-height: calc(0.875rem + 0.25rem);
  }
}

@media (max-width: 1536px) {
  .xl2\:text-sm {
    font-size: 0.875rem;
    line-height: calc(0.875rem + 0.25rem);
  }
}

.text-4xl {
  font-size: 2.25rem;
  line-height: calc(2.25rem + 0.25rem);
}

@media (max-width: 640px) {
  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: calc(2.25rem + 0.25rem);
  }
}

@media (max-width: 768px) {
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: calc(2.25rem + 0.25rem);
  }
}

@media (max-width: 1024px) {
  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: calc(2.25rem + 0.25rem);
  }
}

@media (max-width: 1280px) {
  .xl\:text-4xl {
    font-size: 2.25rem;
    line-height: calc(2.25rem + 0.25rem);
  }
}

@media (max-width: 1536px) {
  .xl2\:text-4xl {
    font-size: 2.25rem;
    line-height: calc(2.25rem + 0.25rem);
  }
}

/*Font Weights*/
.font-100 {
  font-weight: 100;
}

@media (max-width: 640px) {
  .sm\:font-100 {
    font-weight: 100;
  }
}

@media (max-width: 768px) {
  .md\:font-100 {
    font-weight: 100;
  }
}

@media (max-width: 1024px) {
  .lg\:font-100 {
    font-weight: 100;
  }
}

@media (max-width: 1280px) {
  .xl\:font-100 {
    font-weight: 100;
  }
}

@media (max-width: 1536px) {
  .xl2\:font-100 {
    font-weight: 100;
  }
}

.font-300 {
  font-weight: 300;
}

@media (max-width: 640px) {
  .sm\:font-300 {
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .md\:font-300 {
    font-weight: 300;
  }
}

@media (max-width: 1024px) {
  .lg\:font-300 {
    font-weight: 300;
  }
}

@media (max-width: 1280px) {
  .xl\:font-300 {
    font-weight: 300;
  }
}

@media (max-width: 1536px) {
  .xl2\:font-300 {
    font-weight: 300;
  }
}

/*Font Styles*/
.font-style-italic {
  font-style: "italic";
}

.font-style-normal {
  font-style: "normal";
}

.font-style-inherit {
  font-style: "inherit";
}

/*Letter Spacing*/
.letter-spacing-1 {
  letter-spacing: 1px;
  margin-left: -1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
  margin-left: -2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
  margin-left: -3px;
}

/*Line Heights*/
.line-height-25 {
  line-height: 25px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-42 {
  line-height: 42px;
}

/*Colors*/
.color-1 {
  color: #fff;
}

.color-2 {
  color: #fff;
}

.color-3 {
  color: #fff;
}

/*Text Decorations*/
.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

/*Text Transforms*/
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: normal;
}

/*Background Colors*/
.bg-color-1 {
  color: #fff;
}

.bg-color-2 {
  color: #fff;
}

.bg-color-3 {
  color: #fff;
}

/*Widths*/
.w-screen {
  width: 100vw;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-0 {
  width: 0;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-2\/4 {
  width: 50%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-3\/5 {
  width: 60%;
}

.w-4\/5 {
  width: 80%;
}

.w-1\/6 {
  width: 16.666667%;
}

.w-2\/6 {
  width: 33.333333%;
}

.w-3\/6 {
  width: 50%;
}

.w-4\/6 {
  width: 66.666667%;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-1\/12 {
  width: 83.333333%;
}

.w-2\/12 {
  width: 16.666667%;
}

.w-3\/12 {
  width: 25%;
}

.w-4\/12 {
  width: 33.333333%;
}

.w-5\/12 {
  width: 41.666667%;
}

.w-6\/12 {
  width: 50%;
}

.w-7\/12 {
  width: 58.333333%;
}

.w-8\/12 {
  width: 66.666667%;
}

.w-9\/12 {
  width: 75%;
}

.w-10\/12 {
  width: 83.333333%;
}

.w-11\/12 {
  width: 91.666667%;
}

/*Max Widths*/
.max-w-full {
  max-width: 100%;
}

.max-w-1000 {
  max-width: 1000px;
}

.max-w-1200 {
  max-width: 1200px;
}

.max-w-1600 {
  max-width: 1600px;
}

/*Heights*/
.h-screen {
  height: 100vh;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-0 {
  height: 0;
}

.h-1\/2 {
  height: 50%;
}

.h-1\/3 {
  height: 33.333333%;
}

.h-2\/3 {
  height: 66.666667%;
}

.h-2\/4 {
  height: 50%;
}

.h-3\/4 {
  height: 75%;
}

.h-1\/5 {
  height: 20%;
}

.h-2\/5 {
  height: 40%;
}

.h-3\/5 {
  height: 60%;
}

.h-4\/5 {
  height: 80%;
}

.h-1\/6 {
  height: 16.666667%;
}

.h-2\/6 {
  height: 33.333333%;
}

.h-3\/6 {
  height: 50%;
}

.h-4\/6 {
  height: 66.666667%;
}

.h-5\/6 {
  height: 83.333333%;
}

.h-1\/12 {
  height: 83.333333%;
}

.h-2\/12 {
  height: 16.666667%;
}

.h-3\/12 {
  height: 25%;
}

.h-4\/12 {
  height: 33.333333%;
}

.h-5\/12 {
  height: 41.666667%;
}

.h-6\/12 {
  height: 50%;
}

.h-7\/12 {
  height: 58.333333%;
}

.h-8\/12 {
  height: 66.666667%;
}

.h-9\/12 {
  height: 75%;
}

.h-10\/12 {
  height: 83.333333%;
}

.h-11\/12 {
  height: 91.666667%;
}

/*Spacing*/
/*Custom*/
/*Slick*/
.slick-dots {
  list-style: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0;
}

.slick-dots li {
  margin: 10px;
  border: 1px solid var(--clr-primary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background-color: var(--clr-primary);
}

.slick-dots li button {
  font-size: 0;
  border: unset;
}

/*Scroll to Top*/
.scroll-to-top {
  position: fixed;
  bottom: -100px;
  right: 30px;
  -webkit-transition: bottom 300ms ease-in;
  transition: bottom 300ms ease-in;
  z-index: 10;
}

.scroll-to-top.show {
  bottom: 30px;
  -webkit-transition: bottom 300ms ease-in;
  transition: bottom 300ms ease-in;
}

.scroll-to-top a {
  display: block;
  width: 40px;
}

/*Accordion*/
.accordion-section {
  margin-bottom: 15px;
}

.accordion-section:last-child {
  margin-bottom: 0;
}

.accordion-section a {
  font-size: 24px;
  color: var(--clr-secondary);
  font-weight: 700;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(78, 78, 78, 0.2);
  padding: 8px 0;
}

.accordion-section-content {
  display: none;
  padding: 20px 0;
  font-size: 16px;
}

.accordion-section-title {
  position: relative;
}

.accordion-section-title .arrows {
  display: block;
  position: absolute;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 20px;
  height: 20px;
}

.accordion-section-title .arrow-props {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-section-title .arrow-down {
  position: relative;
}

.accordion-section-title .arrow-down::before, .accordion-section-title .arrow-down::after {
  content: "";
  position: absolute;
}

.accordion-section-title .arrow-down::after {
  height: 100%;
  width: 2px;
  background-color: var(--clr-primary);
}

.accordion-section-title .arrow-down::before {
  height: 2px;
  width: 100%;
  background-color: var(--clr-primary);
}

.accordion-section-title .arrow-up {
  position: relative;
  display: none;
}

.accordion-section-title .arrow-up::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--clr-primary);
}

.accordion-section-title.active .arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion-section-title.active .arrow-down {
  display: none;
}

/*Search*/
.search-box {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  margin-left: auto;
  width: 20px;
  padding: 3px 0 2px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search-box:-webkit-autofill {
  background-color: var(--clr-secondary) !important;
  -webkit-box-shadow: 0 0 0 30px var(--clr-secondary) inset !important;
  color: #fff;
}

.search-box.expand {
  width: 100%;
  padding: 3px 25px 2px 0px;
}

.search-button {
  width: 20px;
  height: 20px;
  border: unset;
  background-color: unset;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-button-wrapper {
  width: 20px;
  height: 38px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.search-button-wrapper::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f002";
  color: #fff;
  font-size: 16px;
  top: 0;
  left: 0;
  pointer-events: none;
  line-height: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Social Media*/
.social__media ul {
  margin: 0;
}

.social__media ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__media ul li a {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0.5;
}

.social__media ul li a:hover {
  opacity: 1;
}

.social__media ul li a:not(:last-child) {
  margin: 0 20px 0 0;
}

.social__media ul li a i {
  color: var(--clr-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
}

.social__media ul li a i::before {
  position: absolute;
}

/*Baner*/
.banner {
  position: relative;
}

@media (max-width: 1200px) {
  .banner__content {
    height: 238px;
  }
}

.banner__content img {
  width: 100%;
}

@media (max-width: 1200px) {
  .banner__content img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.banner__content--text {
  font-size: 38px;
  font-family: PFBold;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 45px;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .banner__content--text {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
  }
}

.banner__content--moduler {
  position: absolute;
  bottom: 0;
  left: 200px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 680px) {
  .banner__content--moduler {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.banner__content--moduler-icon {
  max-width: 240px;
  width: 100%;
}

@media (max-width: 1500px) {
  .banner__content--moduler-icon {
    max-width: 150px;
  }
}

.banner__content--moduler-title {
  font-family: PFBold;
  font-size: 21px;
  color: #fff;
  line-height: 20px;
  margin: 0 0 10px 0;
}

@media (max-width: 680px) {
  .banner__content--moduler-title {
    text-shadow: 1px 1px black;
  }
}

.banner__content .booster .banner__content--moduler-title {
  margin-left: -88px;
}

@media (max-width: 1500px) {
  .banner__content .booster .banner__content--moduler-title {
    margin-left: 0;
  }
}

.banner__content-sm {
  height: 193px;
}

.banner__content-sm > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner__content-sm--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.banner__content-sm--icon {
  width: 84px;
  height: 84px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0 0 25px 0;
}

.banner__content-sm--title {
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.banner__content-sm--title.lg {
  font-family: PFBold;
  font-size: 38px;
  line-height: 15px;
}

@media (max-width: 680px) {
  .banner__content-sm--title.lg {
    font-size: 15px;
    font-family: PFRegular;
  }
}

.banner__wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__wave svg {
  width: 100%;
}

.banner__wave svg .a,
.banner__wave svg .b {
  -webkit-transition: all 900ms ease-in;
  transition: all 900ms ease-in;
}

/*Slider*/
.slider__content {
  max-width: 723px;
  width: 100%;
  position: absolute;
  top: 150px;
  right: 340px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.3);
  text-align: right;
  padding: 40px 80px;
  z-index: 2;
}

.slider__content .button__main {
  width: 215px;
  height: 43px;
  margin-left: auto;
}

.slider__title {
  font-size: 40px;
  color: var(--clr-tertiary-1);
  font-weight: 800;
}

.slider__text {
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0;
  color: var(--clr-tertiary-1);
}

.slider__bullets {
  width: 41px !important;
  height: 7px !important;
  border: transparent;
  border-radius: 5px;
  background: unset !important;
  background-color: unset !important;
  background: #fff !important;
}

.slider__bullets.av {
  background-color: unset !important;
  background: -webkit-gradient(linear, left top, right top, from(#1ec2dc), to(#2584f1)) !important;
  background: linear-gradient(to right, #1ec2dc 0%, #2584f1 100%) !important;
}

/*Tabs*/
.tabs {
  padding: 70px 0 100px;
}

.tabs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 15px 0;
  border-bottom: 2px solid var(--clr-primary);
  position: relative;
}

@media (max-width: 680px) {
  .tabs__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tabs__menu a {
  text-decoration: none;
}

.tabs__menu a:hover {
  color: var(--clr-secondary);
}

@media (max-width: 680px) {
  .tabs__menu a:hover {
    color: #fff;
  }
}

.tabs__arrow {
  position: absolute;
  bottom: -20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.tabs__button {
  font-size: 20px;
  font-family: PFBold;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-secondary);
  opacity: 0.3;
}

@media (max-width: 680px) {
  .tabs__button {
    font-size: 15px;
    background-color: var(--clr-primary);
    color: #fff;
  }
}

.tabs__button--active {
  font-size: 26px;
  opacity: 1;
}

@media (max-width: 680px) {
  .tabs__button--active {
    font-size: 18px;
    color: #fff;
  }
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}

.tabs__content-container {
  margin: 20px 0 0 0;
}

@media (max-width: 1023px) {
  .tabs__content-container {
    min-height: unset !important;
  }
}
/*# sourceMappingURL=format.css.map */