:root {
  --clr-primary: #fff;
  --clr-seconadary: #000;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: var(--clr-primary);
}

body {
  font-size: 16px;
  line-height: 25px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  outline: none;
}

b,
strong {
  font-weight: bolder;
  font-size: inherit;
  color: inherit;
}

a {
  color: var(--clr-primary);
}

/*Font Sizes*/
.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

/*Font Weights*/
.font-weight-100 {
  font-weight: 100;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/*Ledings*/
.line-height-25 {
  line-height: 25;
}

.line-height-32 {
  line-height: 32;
}

.line-height-40 {
  line-height: 40;
}

/*Spaces*/
.mx-auto {
  margin: 0 auto;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-40 {
  margin: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.-m-10 {
  margin: -10px;
}

.-m-20 {
  margin: -20px;
}

.-m-30 {
  margin: -30px;
}

.-m-40 {
  margin: -40px;
}

.-mt-10 {
  margin-top: -10px;
}

.-mt-20 {
  margin-top: -20px;
}

.-mt-30 {
  margin-top: -30px;
}

.-mt-40 {
  margin-top: -40px;
}

.-mr-10 {
  margin-right: -10px;
}

.-mr-20 {
  margin-right: -20px;
}

.-mr-30 {
  margin-right: -30px;
}

.-mr-40 {
  margin-right: -40px;
}

.-mb-10 {
  margin-bottom: -10px;
}

.-mb-20 {
  margin-bottom: -20px;
}

.-mb-30 {
  margin-bottom: -30px;
}

.-mb-40 {
  margin-bottom: -40px;
}

.-ml-10 {
  margin-left: -10px;
}

.-ml-20 {
  margin-left: -20px;
}

.-ml-30 {
  margin-left: -30px;
}

.-ml-40 {
  margin-left: -40px;
}

.-my-10 {
  margin-top: -10px;
  margin-bottom: -10px;
}

.-my-20 {
  margin-top: -20px;
  margin-bottom: -20px;
}

.-my-30 {
  margin-top: -30px;
  margin-bottom: -30px;
}

.-my-40 {
  margin-top: -40px;
  margin-bottom: -40px;
}

.-mx-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.-mx-20 {
  margin-left: -20px;
  margin-right: -20px;
}

.-mx-30 {
  margin-left: -30px;
  margin-right: -30px;
}

.-mx-40 {
  margin-left: -40px;
  margin-right: -40px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

/*Blocks*/
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.block {
  display: block;
}

/*Widths*/
.w-1 {
  width: 100%;
}

.w-360 {
  max-width: 360px;
}

.w-480 {
  max-width: 480px;
}

.w-567 {
  max-width: 567px;
}

.w-680 {
  max-width: 680px;
}

.w-991 {
  max-width: 991px;
}

.w-1100 {
  max-width: 1100px;
}

.w-1200 {
  max-width: 1200px;
}

/*Flex*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-initial {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/*Grid*/
.grid-cols-1-100 {
  -ms-grid-columns: minmax(100px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-cols-1-200 {
  -ms-grid-columns: minmax(200px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-cols-1-300 {
  -ms-grid-columns: minmax(300px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-cols-1-400 {
  -ms-grid-columns: minmax(400px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-cols-1-500 {
  -ms-grid-columns: minmax(500px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.grid-cols-2-100 {
  -ms-grid-columns: minmax(100px, 2fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}

.grid-cols-2-200 {
  -ms-grid-columns: minmax(200px, 2fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.grid-cols-2-300 {
  -ms-grid-columns: minmax(300px, 2fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.grid-cols-2-400 {
  -ms-grid-columns: minmax(400px, 2fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.grid-cols-2-500 {
  -ms-grid-columns: minmax(500px, 2fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
}

.grid-cols-3-100 {
  -ms-grid-columns: minmax(100px, 3fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
}

.grid-cols-3-200 {
  -ms-grid-columns: minmax(200px, 3fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
}

.grid-cols-3-300 {
  -ms-grid-columns: minmax(300px, 3fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}

.grid-cols-3-400 {
  -ms-grid-columns: minmax(400px, 3fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}

.grid-cols-3-500 {
  -ms-grid-columns: minmax(500px, 3fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
}

.grid-cols-4-100 {
  -ms-grid-columns: minmax(100px, 4fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
}

.grid-cols-4-200 {
  -ms-grid-columns: minmax(200px, 4fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
}

.grid-cols-4-300 {
  -ms-grid-columns: minmax(300px, 4fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
}

.grid-cols-4-400 {
  -ms-grid-columns: minmax(400px, 4fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 4fr));
}

.grid-cols-4-500 {
  -ms-grid-columns: minmax(500px, 4fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 4fr));
}

.grid-cols-5-100 {
  -ms-grid-columns: minmax(100px, 5fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
}

.grid-cols-5-200 {
  -ms-grid-columns: minmax(200px, 5fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
}

.grid-cols-5-300 {
  -ms-grid-columns: minmax(300px, 5fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
}

.grid-cols-5-400 {
  -ms-grid-columns: minmax(400px, 5fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 5fr));
}

.grid-cols-5-500 {
  -ms-grid-columns: minmax(500px, 5fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 5fr));
}

.grid-cols-6-100 {
  -ms-grid-columns: minmax(100px, 6fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 6fr));
}

.grid-cols-6-200 {
  -ms-grid-columns: minmax(200px, 6fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 6fr));
}

.grid-cols-6-300 {
  -ms-grid-columns: minmax(300px, 6fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 6fr));
}

.grid-cols-6-400 {
  -ms-grid-columns: minmax(400px, 6fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 6fr));
}

.grid-cols-6-500 {
  -ms-grid-columns: minmax(500px, 6fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 6fr));
}

.grid-cols-7-100 {
  -ms-grid-columns: minmax(100px, 7fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 7fr));
}

.grid-cols-7-200 {
  -ms-grid-columns: minmax(200px, 7fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 7fr));
}

.grid-cols-7-300 {
  -ms-grid-columns: minmax(300px, 7fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 7fr));
}

.grid-cols-7-400 {
  -ms-grid-columns: minmax(400px, 7fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 7fr));
}

.grid-cols-7-500 {
  -ms-grid-columns: minmax(500px, 7fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 7fr));
}

.grid-cols-8-100 {
  -ms-grid-columns: minmax(100px, 8fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 8fr));
}

.grid-cols-8-200 {
  -ms-grid-columns: minmax(200px, 8fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 8fr));
}

.grid-cols-8-300 {
  -ms-grid-columns: minmax(300px, 8fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 8fr));
}

.grid-cols-8-400 {
  -ms-grid-columns: minmax(400px, 8fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 8fr));
}

.grid-cols-8-500 {
  -ms-grid-columns: minmax(500px, 8fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 8fr));
}

.grid-cols-9-100 {
  -ms-grid-columns: minmax(100px, 9fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 9fr));
}

.grid-cols-9-200 {
  -ms-grid-columns: minmax(200px, 9fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 9fr));
}

.grid-cols-9-300 {
  -ms-grid-columns: minmax(300px, 9fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 9fr));
}

.grid-cols-9-400 {
  -ms-grid-columns: minmax(400px, 9fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 9fr));
}

.grid-cols-9-500 {
  -ms-grid-columns: minmax(500px, 9fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 9fr));
}

.grid-cols-10-100 {
  -ms-grid-columns: minmax(100px, 10fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 10fr));
}

.grid-cols-10-200 {
  -ms-grid-columns: minmax(200px, 10fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 10fr));
}

.grid-cols-10-300 {
  -ms-grid-columns: minmax(300px, 10fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
}

.grid-cols-10-400 {
  -ms-grid-columns: minmax(400px, 10fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 10fr));
}

.grid-cols-10-500 {
  -ms-grid-columns: minmax(500px, 10fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 10fr));
}

.grid-cols-11-100 {
  -ms-grid-columns: minmax(100px, 11fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 11fr));
}

.grid-cols-11-200 {
  -ms-grid-columns: minmax(200px, 11fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 11fr));
}

.grid-cols-11-300 {
  -ms-grid-columns: minmax(300px, 11fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 11fr));
}

.grid-cols-11-400 {
  -ms-grid-columns: minmax(400px, 11fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 11fr));
}

.grid-cols-11-500 {
  -ms-grid-columns: minmax(500px, 11fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 11fr));
}

.grid-cols-12-100 {
  -ms-grid-columns: minmax(100px, 12fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 12fr));
}

.grid-cols-12-200 {
  -ms-grid-columns: minmax(200px, 12fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 12fr));
}

.grid-cols-12-300 {
  -ms-grid-columns: minmax(300px, 12fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 12fr));
}

.grid-cols-12-400 {
  -ms-grid-columns: minmax(400px, 12fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(400px, 12fr));
}

.grid-cols-12-500 {
  -ms-grid-columns: minmax(500px, 12fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(500px, 12fr));
}

.grid-gap-10 {
  grid-gap: 10px;
}

.grid-gap-20 {
  grid-gap: 20px;
}

.grid-gap-30 {
  grid-gap: 30px;
}

.grid-gap-40 {
  grid-gap: 40px;
}

.grid-gap-50 {
  grid-gap: 50px;
}

/*Positions*/
.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

/*Custom*/
/*Slick*/
.slick-dots {
  list-style: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0;
}

.slick-dots li {
  margin: 10px;
  border: 1px solid var(--clr-primary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background-color: var(--clr-primary);
}

.slick-dots li button {
  font-size: 0;
  border: unset;
}

/*Scroll to Top*/
.scroll-to-top {
  position: fixed;
  bottom: -100px;
  right: 30px;
  -webkit-transition: bottom 300ms ease-in;
  transition: bottom 300ms ease-in;
  z-index: 10;
}

.scroll-to-top.show {
  bottom: 30px;
  -webkit-transition: bottom 300ms ease-in;
  transition: bottom 300ms ease-in;
}

.scroll-to-top a {
  display: block;
  width: 40px;
}

/*Accordion*/
.accordion-section {
  margin-bottom: 15px;
}

.accordion-section:last-child {
  margin-bottom: 0;
}

.accordion-section a {
  font-size: 24px;
  color: var(--clr-secondary);
  font-weight: 700;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(78, 78, 78, 0.2);
  padding: 8px 0;
}

.accordion-section-content {
  display: none;
  padding: 20px 0;
  font-size: 16px;
}

.accordion-section-title {
  position: relative;
}

.accordion-section-title .arrows {
  display: block;
  position: absolute;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  width: 20px;
  height: 20px;
}

.accordion-section-title .arrow-props {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-section-title .arrow-down {
  position: relative;
}

.accordion-section-title .arrow-down::before, .accordion-section-title .arrow-down::after {
  content: "";
  position: absolute;
}

.accordion-section-title .arrow-down::after {
  height: 100%;
  width: 2px;
  background-color: var(--clr-primary);
}

.accordion-section-title .arrow-down::before {
  height: 2px;
  width: 100%;
  background-color: var(--clr-primary);
}

.accordion-section-title .arrow-up {
  position: relative;
  display: none;
}

.accordion-section-title .arrow-up::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--clr-primary);
}

.accordion-section-title.active .arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion-section-title.active .arrow-down {
  display: none;
}

/*Search*/
.search-box {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  margin-left: auto;
  width: 20px;
  padding: 3px 0 2px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.search-box:-webkit-autofill {
  background-color: var(--clr-secondary) !important;
  -webkit-box-shadow: 0 0 0 30px var(--clr-secondary) inset !important;
  color: #fff;
}

.search-box.expand {
  width: 100%;
  padding: 3px 25px 2px 0px;
}

.search-button {
  width: 20px;
  height: 20px;
  border: unset;
  background-color: unset;
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-button-wrapper {
  width: 20px;
  height: 38px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.search-button-wrapper::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f002";
  color: #fff;
  font-size: 16px;
  top: 0;
  left: 0;
  pointer-events: none;
  line-height: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Social Media*/
.social__media ul {
  margin: 0;
}

.social__media ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__media ul li a {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0.5;
}

.social__media ul li a:hover {
  opacity: 1;
}

.social__media ul li a:not(:last-child) {
  margin: 0 20px 0 0;
}

.social__media ul li a i {
  color: var(--clr-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
}

.social__media ul li a i::before {
  position: absolute;
}

/*Baner*/
.banner {
  position: relative;
}

@media (max-width: 1200px) {
  .banner__content {
    height: 238px;
  }
}

.banner__content img {
  width: 100%;
}

@media (max-width: 1200px) {
  .banner__content img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.banner__content--text {
  font-size: 38px;
  font-family: PFBold;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 45px;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .banner__content--text {
    font-size: 25px;
    line-height: 30px;
    top: 50%;
  }
}

.banner__content--moduler {
  position: absolute;
  bottom: 0;
  left: 200px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 680px) {
  .banner__content--moduler {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.banner__content--moduler-icon {
  max-width: 240px;
  width: 100%;
}

@media (max-width: 1500px) {
  .banner__content--moduler-icon {
    max-width: 150px;
  }
}

.banner__content--moduler-title {
  font-family: PFBold;
  font-size: 21px;
  color: #fff;
  line-height: 20px;
  margin: 0 0 10px 0;
}

@media (max-width: 680px) {
  .banner__content--moduler-title {
    text-shadow: 1px 1px black;
  }
}

.banner__content .booster .banner__content--moduler-title {
  margin-left: -88px;
}

@media (max-width: 1500px) {
  .banner__content .booster .banner__content--moduler-title {
    margin-left: 0;
  }
}

.banner__content-sm {
  height: 193px;
}

.banner__content-sm > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner__content-sm--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.banner__content-sm--icon {
  width: 84px;
  height: 84px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0 0 25px 0;
}

.banner__content-sm--title {
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.banner__content-sm--title.lg {
  font-family: PFBold;
  font-size: 38px;
  line-height: 15px;
}

@media (max-width: 680px) {
  .banner__content-sm--title.lg {
    font-size: 15px;
    font-family: PFRegular;
  }
}

.banner__wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__wave svg {
  width: 100%;
}

.banner__wave svg .a,
.banner__wave svg .b {
  -webkit-transition: all 900ms ease-in;
  transition: all 900ms ease-in;
}

/*Slider*/
.slider__content {
  max-width: 723px;
  width: 100%;
  position: absolute;
  top: 150px;
  right: 340px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.3);
  text-align: right;
  padding: 40px 80px;
  z-index: 2;
}

.slider__content .button__main {
  width: 215px;
  height: 43px;
  margin-left: auto;
}

.slider__title {
  font-size: 40px;
  color: var(--clr-tertiary-1);
  font-weight: 800;
}

.slider__text {
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0;
  color: var(--clr-tertiary-1);
}

.slider__bullets {
  width: 41px !important;
  height: 7px !important;
  border: transparent;
  border-radius: 5px;
  background: unset !important;
  background-color: unset !important;
  background: #fff !important;
}

.slider__bullets.av {
  background-color: unset !important;
  background: -webkit-gradient(linear, left top, right top, from(#1ec2dc), to(#2584f1)) !important;
  background: linear-gradient(to right, #1ec2dc 0%, #2584f1 100%) !important;
}

/*Tabs*/
.tabs {
  padding: 70px 0 100px;
}

.tabs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 15px 0;
  border-bottom: 2px solid var(--clr-primary);
  position: relative;
}

@media (max-width: 680px) {
  .tabs__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tabs__menu a {
  text-decoration: none;
}

.tabs__menu a:hover {
  color: var(--clr-secondary);
}

@media (max-width: 680px) {
  .tabs__menu a:hover {
    color: #fff;
  }
}

.tabs__arrow {
  position: absolute;
  bottom: -20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.tabs__button {
  font-size: 20px;
  font-family: PFBold;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-secondary);
  opacity: 0.3;
}

@media (max-width: 680px) {
  .tabs__button {
    font-size: 15px;
    background-color: var(--clr-primary);
    color: #fff;
  }
}

.tabs__button--active {
  font-size: 26px;
  opacity: 1;
}

@media (max-width: 680px) {
  .tabs__button--active {
    font-size: 18px;
    color: #fff;
  }
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}

.tabs__content-container {
  margin: 20px 0 0 0;
}

@media (max-width: 1023px) {
  .tabs__content-container {
    min-height: unset !important;
  }
}
/*# sourceMappingURL=format.css.map */