@import "config";

/*Font Families*/
@each $name, $font-family in $font-families {
  .font-#{$name} {
    font-family: $font-family;
  }
}

/*Font Sizes*/
@each $name, $text in $texts {
  .text-#{$name} {
    font-size: $text;
    line-height: calc(#{$text} + 0.25rem);
  }

  @each $name1, $break in $media {
    @media (max-width: $break) {
      .#{$name1}\:text-#{$name} {
        font-size: $text;
        line-height: calc(#{$text} + 0.25rem);
      }
    }
  }
}

/*Font Weights*/
@each $name, $font-weight in $font-weights {
  .font-#{$name} {
    font-weight: $font-weight;
  }

  @each $name1, $break in $media {
    @media (max-width: $break) {
      .#{$name1}\:font-#{$name} {
        font-weight: $font-weight;
      }
    }
  }
}

/*Font Styles*/
@each $name, $font-style in $font-styles {
  .font-style-#{$name} {
    font-style: $font-style;
  }
}

/*Letter Spacing*/
@each $name, $letter-spacing in $letter-spacings {
  .letter-spacing-#{$name} {
    letter-spacing: $letter-spacing;
    margin-left: -$letter-spacing;
  }
}

/*Line Heights*/
@each $name, $line-height in $line-heights {
  .line-height-#{$name} {
    line-height: $line-height;
  }
}

/*Colors*/
@each $name, $text-color in $text-colors {
  .color-#{$name} {
    color: $text-color;
  }
}

/*Text Decorations*/
@each $name, $text-decoration in $text-decorations {
  .#{$name} {
    text-decoration: $text-decoration;
  }
}

/*Text Transforms*/
@each $name, $text-transform in $text-transforms {
  .#{$name} {
    text-transform: $text-transform;
  }
}

/*Background Colors*/
@each $name, $background-color in $background-colors {
  .bg-color-#{$name} {
    color: $background-color;
  }
}

/*Widths*/
@each $name, $width in $widths {
  .w-#{$name} {
    width: #{$width};
  }
}

/*Max Widths*/
@each $name, $max-width in $max-widths {
  .max-w-#{$name} {
    max-width: #{$max-width};
  }
}

/*Heights*/
@each $name, $height in $heights {
  .h-#{$name} {
    height: #{$height};
  }
}

/*Spacing*/
// @each $name, $spacing in $spacing-main {
//   .m-#{$name} {
//     margin: #{$spacing};
//   }
//   .my-#{$name} {
//     margin-top: #{$spacing};
//     margin-bottom: #{$spacing};
//   }
//   .mx-#{$name} {
//     margin-left: #{$spacing};
//     margin-right: #{$spacing};
//   }
//   .mt-#{$name} {
//     margin-top: #{$spacing};
//   }
//   .mr-#{$name} {
//     margin-right: #{$spacing};
//   }
//   .mb-#{$name} {
//     margin-bottom: #{$spacing};
//   }
//   .ml-#{$name} {
//     margin-left: #{$spacing};
//   }
// }

// @each $name, $spacing in $spacings {
//   .m-#{$name} {
//     margin: #{$spacing};
//   }
//   .mx-#{$name} {
//     margin-left: #{$spacing};
//     margin-right: #{$spacing};
//   }
//   .-m-#{$name} {
//     margin: -#{$spacing};
//   }
//   .my-#{$name} {
//     margin-top: #{$spacing};
//     margin-bottom: #{$spacing};
//   }
//   .-my-#{$name} {
//     margin-top: -#{$spacing};
//     margin-bottom: -#{$spacing};
//   }
//   .-mx-#{$name} {
//     margin-left: -#{$spacing};
//     margin-right: -#{$spacing};
//   }
//   .mt-#{$name} {
//     margin-top: #{$spacing};
//   }
//   .-mt-#{$name} {
//     margin-top: -#{$spacing};
//   }
//   .mr-#{$name} {
//     margin-right: #{$spacing};
//   }
//   .-mr-#{$name} {
//     margin-right: -#{$spacing};
//   }
//   .mb-#{$name} {
//     margin-bottom: #{$spacing};
//   }
//   .-mb-#{$name} {
//     margin-bottom: -#{$spacing};
//   }
//   .ml-#{$name} {
//     margin-left: #{$spacing};
//   }
//   .-ml-#{$name} {
//     margin-left: -#{$spacing};
//   }
// }
