@import "config";

/*Font Families*/
@each $name, $font-family in $font-families {
	.font-#{$name} {
		font-family: $font-family;
	}
}

/*Font Sizes*/
@each $name, $text in $texts {
	.text-#{$name} {
		font-size: $text;
		line-height: calc(#{$text} + 0.25rem);
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:text-#{$name} {
				font-size: $text;
				line-height: calc(#{$text} + 0.25rem);
			}
		}
	}
}

/*Font Weights*/
@each $name, $font-weight in $font-weights {
	.font-#{$name} {
		font-weight: $font-weight;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:font-#{$name} {
				font-weight: $font-weight;
			}
		}
	}
}

/*Font Styles*/
@each $name, $font-style in $font-styles {
	.font-#{$name} {
		font-style: $font-style;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:font-#{$name} {
				font-style: $font-style;
			}
		}
	}
}

/*Text Positions*/
@each $name, $value in $text-positions {
	.text-#{$name} {
		text-align: $value;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:text-#{$name} {
				text-align: $value;
			}
		}
	}

	// @each $name1, $break in $media {
	// 	$i: index($media, $name1 $break);
	// 	@if ($i == 1) {
	// 		@media (min-width: #{$break}px) {
	// 			.#{$name1}\:text-#{$name} {
	// 				text-align: $value !important;
	// 			}
	// 		}
	// 	} @else if($i == 2) {
	// 		@media (min-width: #{$break}px) {
	// 			.#{index($media, $name1)}\:text-#{$name} {
	// 				text-align: $value;
	// 			}
	// 			.#{$name1}\:text-#{$name} {
	// 				text-align: $value !important;
	// 			}
	// 		}
	// 	} @else if($i == 3) {
	// 		@media (min-width: #{$break}px) {
	// 			.#{nth($name1 $media, 1)}\:text-#{$name} {
	// 				text-align: $value;
	// 			}
	// 			.#{nth($name1 $media, 1)}\:text-#{$name} {
	// 				text-align: $value;
	// 			}
	// 			.#{$name1}\:text-#{$name} {
	// 				text-align: $value !important;
	// 			}
	// 		}
	// 	}
	// }

	// @each $name1, $break in $media {
	// 	$i: index($media, $name1 $break);
	// 	@if ($i == 1) {
	// 		@media (min-width: 0px) and (min-width: #{$break}px) {
	// 			.#{$name1}\:text-#{$name} {
	// 				text-align: $value;
	// 			}
	// 		}
	// 	} @else {
	// 		@media (min-width: #{nth($media, $i - 1)}px) and (min-width: #{$break}px) {
	// 			.#{$name1}\:text-#{$name} {
	// 				text-align: $value;
	// 			}
	// 		}
	// 	}
	// }
}

/*Letter Spacing*/
@each $name, $letter-spacing in $letter-spacings {
	.letter-spacing-#{$name} {
		letter-spacing: $letter-spacing;
		// margin-left: -$letter-spacing;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:letter-spacing-#{$name} {
				letter-spacing: $letter-spacing;
				// margin-left: -$letter-spacing;
			}
		}
	}
}

/*Line Heights*/
@each $name, $line-height in $line-heights {
	.line-height-#{$name} {
		line-height: $line-height;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:line-height-#{$name} {
				line-height: $line-height;
			}
		}
	}
}

/*Colors*/
@each $name, $text-color in $text-colors {
	.text-#{$name} {
		color: $text-color;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:text-#{$name} {
				color: $text-color !important;
			}
		}
	}
}

/*Text Decorations*/
@each $name, $text-decoration in $text-decorations {
	.#{$name} {
		-webkit-text-decoration: $text-decoration;
		text-decoration: $text-decoration;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				-webkit-text-decoration: $text-decoration;
				text-decoration: $text-decoration;
			}
		}
	}
}

/*Text Transforms*/
@each $name, $text-transform in $text-transforms {
	.#{$name} {
		text-transform: $text-transform;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				text-transform: $text-transform;
			}
		}
	}
}

/*Background Colors*/
@each $name, $background-color in $background-colors {
	.bg-#{$name} {
		background-color: $background-color;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:bg-#{$name} {
				background-color: $background-color !important;
			}
		}
	}
}

/*Widths*/
// @each $name, $width in $widths {
// 	.w-#{$name} {
// 		width: #{$width};
// 	}

// 	@each $name1, $break in $media {
// 		@media (min-width: $break) {
// 			.#{$name1}\:w-#{$name} {
// 				width: #{$width};
// 			}
// 		}
// 	}
// }

/*Max Widths*/
// @each $name, $min-width in $min-widths {
// 	.max-w-#{$name} {
// 		min-width: #{$min-width};
// 	}

// 	@each $name1, $break in $media {
// 		@media (min-width: $break) {
// 			.#{$name1}\:max-w-#{$name} {
// 				min-width: #{$min-width} !important;
// 			}
// 		}
// 	}
// }

/*Heights*/
// @each $name, $height in $heights {
// 	.h-#{$name} {
// 		height: #{$height};
// 	}

// 	@each $name1, $break in $media {
// 		@media (min-width: $break) {
// 			.#{$name1}\:h-#{$name} {
// 				height: #{$height};
// 			}
// 		}
// 	}
// }

/*Spacing*/
// @each $name, $spacing in $spacing-main {
//   .m-#{$name} {
//     margin: #{$spacing};
//   }
//   .my-#{$name} {
//     margin-top: #{$spacing};
//     margin-bottom: #{$spacing};
//   }
//   .mx-#{$name} {
//     margin-left: #{$spacing};
//     margin-right: #{$spacing};
//   }
//   .mt-#{$name} {
//     margin-top: #{$spacing};
//   }
//   .mr-#{$name} {
//     margin-right: #{$spacing};
//   }
//   .mb-#{$name} {
//     margin-bottom: #{$spacing};
//   }
//   .ml-#{$name} {
//     margin-left: #{$spacing};
//   }
// }

// @each $name, $spacing in $spacings {
//   .m-#{$name} {
//     margin: #{$spacing};
//   }
//   .mx-#{$name} {
//     margin-left: #{$spacing};
//     margin-right: #{$spacing};
//   }
//   .-m-#{$name} {
//     margin: -#{$spacing};
//   }
//   .my-#{$name} {
//     margin-top: #{$spacing};
//     margin-bottom: #{$spacing};
//   }
//   .-my-#{$name} {
//     margin-top: -#{$spacing};
//     margin-bottom: -#{$spacing};
//   }
//   .-mx-#{$name} {
//     margin-left: -#{$spacing};
//     margin-right: -#{$spacing};
//   }
//   .mt-#{$name} {
//     margin-top: #{$spacing};
//   }
//   .-mt-#{$name} {
//     margin-top: -#{$spacing};
//   }
//   .mr-#{$name} {
//     margin-right: #{$spacing};
//   }
//   .-mr-#{$name} {
//     margin-right: -#{$spacing};
//   }
//   .mb-#{$name} {
//     margin-bottom: #{$spacing};
//   }
//   .-mb-#{$name} {
//     margin-bottom: -#{$spacing};
//   }
//   .ml-#{$name} {
//     margin-left: #{$spacing};
//   }
//   .-ml-#{$name} {
//     margin-left: -#{$spacing};
//   }
// }

/*Borders*/
@each $name, $value in $borders {
	.#{$name} {
		border-width: #{$value};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				border-width: #{$value} !important;
			}
		}
	}
}

/*Border Styles*/
@each $name, $value in $border-styles {
	.border-#{$name} {
		border-style: #{$value};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:border-#{$name} {
				border-style: #{$value};
			}
		}
	}
}

/*Border Direction Styles*/
@each $name, $value in $border-styles {
	@each $name2, $value2 in $border-directions {
		.border-#{$name2}-#{$name} {
			border-#{$value2}-style: #{$value};
		}

		@each $name1, $break in $media {
			@media (min-width: $break) {
				.#{$name1}\:border-#{$name2}-#{$name} {
					border-#{$value2}-style: #{$value} !important;
				}
			}
		}
	}
}

/*Borders With Values*/
@each $name, $value in $border-directions {
	@each $name2, $value2 in $border-values {
		.border-#{$name}-#{$name2} {
			border-#{$value}-width: #{$value2}px;
		}

		@each $name1, $break in $media {
			@media (min-width: $break) {
				.#{$name1}\:border-#{$name}-#{$name2} {
					border-#{$value}-width: #{$value2}px !important;
				}
			}
		}
	}
}

/*Border Colors*/
// @each $name, $value in $border-colors {
// 	.border-#{$name} {
// 		border-color: #{$value};
// 	}

// 	@each $name1, $break in $media {
// 		@media (min-width: $break) {
// 			.#{$name1}\:border-#{$name} {
// 				border-color: #{$value};
// 			}
// 		}
// 	}
// }

/*Border Radius*/
@each $name, $value in $border-values {
	.border-radius-#{$name} {
		border-radius: #{$value}px;
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:border-radius-#{$name} {
				border-radius: #{$value}px;
			}
		}
	}
}

/*Border Radius Positions*/
@each $name, $value in $border-radius-positions {
	@each $name2, $value2 in $border-values {
		.border-#{$name}-radius-#{$value2} {
			border-#{$value}-radius: #{$value2}px;
		}

		@each $name1, $break in $media {
			@media (min-width: $break) {
				.#{$name1}\:border-#{$name}-radius-#{$value2} {
					border-#{$value}-radius: #{$value2}px !important;
				}
			}
		}
	}
}

/*Positions*/
@each $name, $value in $positions {
	.#{$name} {
		position: #{$value};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				position: #{$value};
			}
		}
	}
}

/*Display*/
@each $name, $value in $display {
	.#{$name} {
		display: #{$value};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				display: #{$value};
			}
		}
	}
}

/*Flex*/
@each $name, $value in $flex {
	.flex-#{$name} {
		flex: #{$value};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:flex-#{$name} {
				flex: #{$value};
			}
		}
	}
}

/*Flex Directions*/
@each $name, $direction in $flex-directions {
	.flex-#{$name} {
		flex-direction: #{$direction};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:flex-#{$name} {
				flex-direction: #{$direction};
			}
		}
	}
}

/*Flex Justify Content*/
@each $name, $justify in $flex-justify-content {
	.#{$name} {
		justify-content: #{$justify};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				justify-content: #{$justify};
			}
		}
	}
}

/*Flex Align Items*/
@each $name, $align in $flex-align-items {
	.#{$name} {
		align-items: #{$align};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				align-items: #{$align};
			}
		}
	}
}

/*Flex Justify Self*/
@each $name, $self in $flex-justify-self {
	.#{$name} {
		justify-self: #{$self};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				justify-self: #{$self} !important;
			}
		}
	}
}

/*Flex Align Self*/
@each $name, $self in $flex-align-self {
	.#{$name} {
		align-self: #{$self};
	}

	@each $name1, $break in $media {
		@media (min-width: $break) {
			.#{$name1}\:#{$name} {
				align-self: #{$self} !important;
			}
		}
	}
}
