.p-0 {
  padding: 0;
}

@media (max-width: 1600px) {
  .media-1600\:p-0 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:p-0 {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:p-0 {
    padding: 0;
  }
}

.p-10 {
  padding: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:p-10 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:p-10 {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:p-10 {
    padding: 10px;
  }
}

.p-80 {
  padding: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:p-80 {
    padding: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:p-80 {
    padding: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:p-80 {
    padding: 80px;
  }
}

.pt-0 {
  padding-top: 0;
}

@media (max-width: 1600px) {
  .media-1600\:pt-0 {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:pt-0 {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:pt-0 {
    padding-top: 0;
  }
}

.pt-10 {
  padding-top: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:pt-10 {
    padding-top: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:pt-10 {
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:pt-10 {
    padding-top: 10px;
  }
}

.pt-80 {
  padding-top: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:pt-80 {
    padding-top: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:pt-80 {
    padding-top: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:pt-80 {
    padding-top: 80px;
  }
}

.pr-0 {
  padding-right: 0;
}

@media (max-width: 1600px) {
  .media-1600\:pr-0 {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:pr-0 {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:pr-0 {
    padding-right: 0;
  }
}

.pr-10 {
  padding-right: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:pr-10 {
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:pr-10 {
    padding-right: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:pr-10 {
    padding-right: 10px;
  }
}

.pr-80 {
  padding-right: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:pr-80 {
    padding-right: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:pr-80 {
    padding-right: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:pr-80 {
    padding-right: 80px;
  }
}

.pb-0 {
  padding-bottom: 0;
}

@media (max-width: 1600px) {
  .media-1600\:pb-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:pb-0 {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:pb-0 {
    padding-bottom: 0;
  }
}

.pb-10 {
  padding-bottom: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:pb-10 {
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:pb-10 {
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:pb-10 {
    padding-bottom: 10px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:pb-80 {
    padding-bottom: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:pb-80 {
    padding-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:pb-80 {
    padding-bottom: 80px;
  }
}

.pl-0 {
  padding-left: 0;
}

@media (max-width: 1600px) {
  .media-1600\:pl-0 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:pl-0 {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:pl-0 {
    padding-left: 0;
  }
}

.pl-10 {
  padding-left: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:pl-10 {
    padding-left: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:pl-10 {
    padding-left: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:pl-10 {
    padding-left: 10px;
  }
}

.pl-80 {
  padding-left: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:pl-80 {
    padding-left: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:pl-80 {
    padding-left: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:pl-80 {
    padding-left: 80px;
  }
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1600px) {
  .media-1600\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:px-80 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:px-80 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:px-80 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 1600px) {
  .media-1600\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .media-991\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .media-480\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 1600px) {
  .media-1600\:py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 991px) {
  .media-991\:py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .media-480\:py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.m-auto {
  margin: auto;
}

@media (max-width: 1600px) {
  .media-1600\:m-auto {
    margin: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:m-auto {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:m-auto {
    margin: auto;
  }
}

.m-10 {
  margin: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:m-10 {
    margin: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:m-10 {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:m-10 {
    margin: 10px;
  }
}

.mt-auto {
  margin-top: auto;
}

@media (max-width: 1600px) {
  .media-1600\:mt-auto {
    margin-top: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:mt-auto {
    margin-top: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:mt-auto {
    margin-top: auto;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:mt-10 {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:mt-10 {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:mt-10 {
    margin-top: 10px;
  }
}

.mr-auto {
  margin-right: auto;
}

@media (max-width: 1600px) {
  .media-1600\:mr-auto {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:mr-auto {
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:mr-auto {
    margin-right: auto;
  }
}

.mr-10 {
  margin-right: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:mr-10 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:mr-10 {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:mr-10 {
    margin-right: 10px;
  }
}

.mb-auto {
  margin-bottom: auto;
}

@media (max-width: 1600px) {
  .media-1600\:mb-auto {
    margin-bottom: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:mb-auto {
    margin-bottom: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:mb-auto {
    margin-bottom: auto;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:mb-10 {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:mb-10 {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:mb-10 {
    margin-bottom: 10px;
  }
}

.ml-auto {
  margin-left: auto;
}

@media (max-width: 1600px) {
  .media-1600\:ml-auto {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:ml-auto {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:ml-auto {
    margin-left: auto;
  }
}

.ml-10 {
  margin-left: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:ml-10 {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:ml-10 {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:ml-10 {
    margin-left: 10px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1600px) {
  .media-1600\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:mx-10 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:mx-10 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:mx-10 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1600px) {
  .media-1600\:my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 991px) {
  .media-991\:my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 480px) {
  .media-480\:my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1600px) {
  .media-1600\:my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .media-991\:my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .media-480\:my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.w-screen {
  width: 100vw;
}

@media (min-width: 1600px) {
  .media-1600\:w-screen {
    width: 100vw;
  }
}

@media (min-width: 991px) {
  .media-991\:w-screen {
    width: 100vw;
  }
}

@media (min-width: 480px) {
  .media-480\:w-screen {
    width: 100vw;
  }
}

.w-auto {
  width: auto;
}

@media (min-width: 1600px) {
  .media-1600\:w-auto {
    width: auto;
  }
}

@media (min-width: 991px) {
  .media-991\:w-auto {
    width: auto;
  }
}

@media (min-width: 480px) {
  .media-480\:w-auto {
    width: auto;
  }
}

.w-full {
  width: 100%;
}

@media (min-width: 1600px) {
  .media-1600\:w-full {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .media-991\:w-full {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .media-480\:w-full {
    width: 100%;
  }
}

.max-w-full {
  max-width: 100%;
}

@media (min-width: 1600px) {
  .max-w-full {
    max-width: 100%;
  }
}

@media (min-width: 991px) {
  .max-w-full {
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  .max-w-full {
    max-width: 100%;
  }
}

.max-w-1000 {
  max-width: 1000px;
}

@media (min-width: 1600px) {
  .max-w-1000 {
    max-width: 1000px;
  }
}

@media (min-width: 991px) {
  .max-w-1000 {
    max-width: 1000px;
  }
}

@media (min-width: 480px) {
  .max-w-1000 {
    max-width: 1000px;
  }
}

.h-screen {
  height: 100vw;
}

@media (min-width: 1600px) {
  .media-1600\:h-screen {
    height: 100vw;
  }
}

@media (min-width: 991px) {
  .media-991\:h-screen {
    height: 100vw;
  }
}

@media (min-width: 480px) {
  .media-480\:h-screen {
    height: 100vw;
  }
}

.h-auto {
  height: auto;
}

@media (min-width: 1600px) {
  .media-1600\:h-auto {
    height: auto;
  }
}

@media (min-width: 991px) {
  .media-991\:h-auto {
    height: auto;
  }
}

@media (min-width: 480px) {
  .media-480\:h-auto {
    height: auto;
  }
}

.h-full {
  height: 100%;
}

@media (min-width: 1600px) {
  .media-1600\:h-full {
    height: 100%;
  }
}

@media (min-width: 991px) {
  .media-991\:h-full {
    height: 100%;
  }
}

@media (min-width: 480px) {
  .media-480\:h-full {
    height: 100%;
  }
}

.thin {
  font-weight: 100;
}

@media (min-width: 1600px) {
  .media-1600\:thin {
    font-weight: 100;
  }
}

@media (min-width: 991px) {
  .media-991\:thin {
    font-weight: 100;
  }
}

@media (min-width: 480px) {
  .media-480\:thin {
    font-weight: 100;
  }
}

.extralight {
  font-weight: 200;
}

@media (min-width: 1600px) {
  .media-1600\:extralight {
    font-weight: 200;
  }
}

@media (min-width: 991px) {
  .media-991\:extralight {
    font-weight: 200;
  }
}

@media (min-width: 480px) {
  .media-480\:extralight {
    font-weight: 200;
  }
}

.light {
  font-weight: 300;
}

@media (min-width: 1600px) {
  .media-1600\:light {
    font-weight: 300;
  }
}

@media (min-width: 991px) {
  .media-991\:light {
    font-weight: 300;
  }
}

@media (min-width: 480px) {
  .media-480\:light {
    font-weight: 300;
  }
}

.regular {
  font-weight: 400;
}

@media (min-width: 1600px) {
  .media-1600\:regular {
    font-weight: 400;
  }
}

@media (min-width: 991px) {
  .media-991\:regular {
    font-weight: 400;
  }
}

@media (min-width: 480px) {
  .media-480\:regular {
    font-weight: 400;
  }
}

.medium {
  font-weight: 500;
}

@media (min-width: 1600px) {
  .media-1600\:medium {
    font-weight: 500;
  }
}

@media (min-width: 991px) {
  .media-991\:medium {
    font-weight: 500;
  }
}

@media (min-width: 480px) {
  .media-480\:medium {
    font-weight: 500;
  }
}

.semibold {
  font-weight: 600;
}

@media (min-width: 1600px) {
  .media-1600\:semibold {
    font-weight: 600;
  }
}

@media (min-width: 991px) {
  .media-991\:semibold {
    font-weight: 600;
  }
}

@media (min-width: 480px) {
  .media-480\:semibold {
    font-weight: 600;
  }
}

.bold {
  font-weight: 700;
}

@media (min-width: 1600px) {
  .media-1600\:bold {
    font-weight: 700;
  }
}

@media (min-width: 991px) {
  .media-991\:bold {
    font-weight: 700;
  }
}

@media (min-width: 480px) {
  .media-480\:bold {
    font-weight: 700;
  }
}

.extrabold {
  font-weight: 800;
}

@media (min-width: 1600px) {
  .media-1600\:extrabold {
    font-weight: 800;
  }
}

@media (min-width: 991px) {
  .media-991\:extrabold {
    font-weight: 800;
  }
}

@media (min-width: 480px) {
  .media-480\:extrabold {
    font-weight: 800;
  }
}

.black {
  font-weight: 900;
}

@media (min-width: 1600px) {
  .media-1600\:black {
    font-weight: 900;
  }
}

@media (min-width: 991px) {
  .media-991\:black {
    font-weight: 900;
  }
}

@media (min-width: 480px) {
  .media-480\:black {
    font-weight: 900;
  }
}

.text-center {
  text-align: center;
}

@media (min-width: 1600px) {
  .media-1600\:text-center {
    text-align: center;
  }
}

@media (min-width: 991px) {
  .media-991\:text-center {
    text-align: center;
  }
}

@media (min-width: 480px) {
  .media-480\:text-center {
    text-align: center;
  }
}

.text-left {
  text-align: left;
}

@media (min-width: 1600px) {
  .media-1600\:text-left {
    text-align: left;
  }
}

@media (min-width: 991px) {
  .media-991\:text-left {
    text-align: left;
  }
}

@media (min-width: 480px) {
  .media-480\:text-left {
    text-align: left;
  }
}

.text-right {
  text-align: right;
}

@media (min-width: 1600px) {
  .media-1600\:text-right {
    text-align: right;
  }
}

@media (min-width: 991px) {
  .media-991\:text-right {
    text-align: right;
  }
}

@media (min-width: 480px) {
  .media-480\:text-right {
    text-align: right;
  }
}

.text-justify {
  text-align: justify;
}

@media (min-width: 1600px) {
  .media-1600\:text-justify {
    text-align: justify;
  }
}

@media (min-width: 991px) {
  .media-991\:text-justify {
    text-align: justify;
  }
}

@media (min-width: 480px) {
  .media-480\:text-justify {
    text-align: justify;
  }
}

.italic {
  font-style: italic;
}

@media (min-width: 1600px) {
  .media-1600\:italic {
    font-style: italic;
  }
}

@media (min-width: 991px) {
  .media-991\:italic {
    font-style: italic;
  }
}

@media (min-width: 480px) {
  .media-480\:italic {
    font-style: italic;
  }
}

.normal {
  font-style: normal;
}

@media (min-width: 1600px) {
  .media-1600\:normal {
    font-style: normal;
  }
}

@media (min-width: 991px) {
  .media-991\:normal {
    font-style: normal;
  }
}

@media (min-width: 480px) {
  .media-480\:normal {
    font-style: normal;
  }
}

.inherit {
  font-style: inherit;
}

@media (min-width: 1600px) {
  .media-1600\:inherit {
    font-style: inherit;
  }
}

@media (min-width: 991px) {
  .media-991\:inherit {
    font-style: inherit;
  }
}

@media (min-width: 480px) {
  .media-480\:inherit {
    font-style: inherit;
  }
}

.underline {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

@media (min-width: 1600px) {
  .media-1600\:underline {
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
}

@media (min-width: 991px) {
  .media-991\:underline {
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
}

@media (min-width: 480px) {
  .media-480\:underline {
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
}

.no-underline {
  -webkit-text-decoration: none;
  text-decoration: none;
}

@media (min-width: 1600px) {
  .media-1600\:no-underline {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
}

@media (min-width: 991px) {
  .media-991\:no-underline {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
}

@media (min-width: 480px) {
  .media-480\:no-underline {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
}

.line-through {
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}

@media (min-width: 1600px) {
  .media-1600\:line-through {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
  }
}

@media (min-width: 991px) {
  .media-991\:line-through {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
  }
}

@media (min-width: 480px) {
  .media-480\:line-through {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
  }
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 1600px) {
  .media-1600\:uppercase {
    text-transform: uppercase;
  }
}

@media (min-width: 991px) {
  .media-991\:uppercase {
    text-transform: uppercase;
  }
}

@media (min-width: 480px) {
  .media-480\:uppercase {
    text-transform: uppercase;
  }
}

.lowercase {
  text-transform: lowercase;
}

@media (min-width: 1600px) {
  .media-1600\:lowercase {
    text-transform: lowercase;
  }
}

@media (min-width: 991px) {
  .media-991\:lowercase {
    text-transform: lowercase;
  }
}

@media (min-width: 480px) {
  .media-480\:lowercase {
    text-transform: lowercase;
  }
}

.capitalize {
  text-transform: capitalize;
}

@media (min-width: 1600px) {
  .media-1600\:capitalize {
    text-transform: capitalize;
  }
}

@media (min-width: 991px) {
  .media-991\:capitalize {
    text-transform: capitalize;
  }
}

@media (min-width: 480px) {
  .media-480\:capitalize {
    text-transform: capitalize;
  }
}

.normal {
  text-transform: normal;
}

@media (min-width: 1600px) {
  .media-1600\:normal {
    text-transform: normal;
  }
}

@media (min-width: 991px) {
  .media-991\:normal {
    text-transform: normal;
  }
}

@media (min-width: 480px) {
  .media-480\:normal {
    text-transform: normal;
  }
}

.text-16 {
  font-size: 16px;
}

@media (min-width: 1600px) {
  .media-1600\:text-16 {
    font-size: 16px;
  }
}

@media (min-width: 991px) {
  .media-991\:text-16 {
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  .media-480\:text-16 {
    font-size: 16px;
  }
}

.hidden {
  display: none;
}

@media (min-width: 1600px) {
  .media-1600\:hidden {
    display: none;
  }
}

@media (min-width: 991px) {
  .media-991\:hidden {
    display: none;
  }
}

@media (min-width: 480px) {
  .media-480\:hidden {
    display: none;
  }
}

.block {
  display: block;
}

@media (min-width: 1600px) {
  .media-1600\:block {
    display: block;
  }
}

@media (min-width: 991px) {
  .media-991\:block {
    display: block;
  }
}

@media (min-width: 480px) {
  .media-480\:block {
    display: block;
  }
}

.inline {
  display: inline;
}

@media (min-width: 1600px) {
  .media-1600\:inline {
    display: inline;
  }
}

@media (min-width: 991px) {
  .media-991\:inline {
    display: inline;
  }
}

@media (min-width: 480px) {
  .media-480\:inline {
    display: inline;
  }
}

.inline-block {
  display: inline-block;
}

@media (min-width: 1600px) {
  .media-1600\:inline-block {
    display: inline-block;
  }
}

@media (min-width: 991px) {
  .media-991\:inline-block {
    display: inline-block;
  }
}

@media (min-width: 480px) {
  .media-480\:inline-block {
    display: inline-block;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1600px) {
  .media-1600\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 991px) {
  .media-991\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 480px) {
  .media-480\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1600px) {
  .media-1600\:grid {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 991px) {
  .media-991\:grid {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 480px) {
  .media-480\:grid {
    display: -ms-grid;
    display: grid;
  }
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

@media (min-width: 1600px) {
  .media-1600\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
  }
}

@media (min-width: 991px) {
  .media-991\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
  }
}

@media (min-width: 480px) {
  .media-480\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
  }
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 1600px) {
  .media-1600\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 991px) {
  .media-991\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 480px) {
  .media-480\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.flex-initial {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (min-width: 1600px) {
  .media-1600\:flex-initial {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (min-width: 991px) {
  .media-991\:flex-initial {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (min-width: 480px) {
  .media-480\:flex-initial {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media (min-width: 1600px) {
  .media-1600\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (min-width: 991px) {
  .media-991\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (min-width: 480px) {
  .media-480\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1600px) {
  .media-1600\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 991px) {
  .media-991\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 480px) {
  .media-480\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1600px) {
  .media-1600\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 991px) {
  .media-991\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 480px) {
  .media-480\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 1600px) {
  .media-1600\:justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1600px) {
  .media-1600\:justify-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1600px) {
  .media-1600\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1600px) {
  .media-1600\:justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1600px) {
  .media-1600\:justify-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 1600px) {
  .media-1600\:justify-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1600px) {
  .media-1600\:items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 991px) {
  .media-991\:items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 480px) {
  .media-480\:items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1600px) {
  .media-1600\:items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 991px) {
  .media-991\:items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 480px) {
  .media-480\:items-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1600px) {
  .media-1600\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 991px) {
  .media-991\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) {
  .media-480\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (min-width: 1600px) {
  .media-1600\:items-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 991px) {
  .media-991\:items-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 480px) {
  .media-480\:items-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (min-width: 1600px) {
  .media-1600\:items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 991px) {
  .media-991\:items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 480px) {
  .media-480\:items-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.justify-self-auto {
  -ms-grid-column-align: auto;
      justify-self: auto;
}

@media (min-width: 1600px) {
  .media-1600\:justify-self-auto {
    -ms-grid-column-align: auto;
        justify-self: auto;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-self-auto {
    -ms-grid-column-align: auto;
        justify-self: auto;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-self-auto {
    -ms-grid-column-align: auto;
        justify-self: auto;
  }
}

.justify-self-start {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media (min-width: 1600px) {
  .media-1600\:justify-self-start {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-self-start {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-self-start {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.justify-self-end {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 1600px) {
  .media-1600\:justify-self-end {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-self-end {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-self-end {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.justify-self-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 1600px) {
  .media-1600\:justify-self-center {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-self-center {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-self-center {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.justify-self-stretch {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

@media (min-width: 1600px) {
  .media-1600\:justify-self-stretch {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
}

@media (min-width: 991px) {
  .media-991\:justify-self-stretch {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
}

@media (min-width: 480px) {
  .media-480\:justify-self-stretch {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
}

.align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

@media (min-width: 1600px) {
  .media-1600\:align-self-auto {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

@media (min-width: 991px) {
  .media-991\:align-self-auto {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

@media (min-width: 480px) {
  .media-480\:align-self-auto {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.align-self-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (min-width: 1600px) {
  .media-1600\:align-self-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (min-width: 991px) {
  .media-991\:align-self-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (min-width: 480px) {
  .media-480\:align-self-start {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.align-self-end {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 1600px) {
  .media-1600\:align-self-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media (min-width: 991px) {
  .media-991\:align-self-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media (min-width: 480px) {
  .media-480\:align-self-end {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1600px) {
  .media-1600\:align-self-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 991px) {
  .media-991\:align-self-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 480px) {
  .media-480\:align-self-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media (min-width: 1600px) {
  .media-1600\:align-self-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (min-width: 991px) {
  .media-991\:align-self-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (min-width: 480px) {
  .media-480\:align-self-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.relative {
  position: relative;
}

@media (min-width: 1600px) {
  .media-1600\:relative {
    position: relative;
  }
}

@media (min-width: 991px) {
  .media-991\:relative {
    position: relative;
  }
}

@media (min-width: 480px) {
  .media-480\:relative {
    position: relative;
  }
}

.absolute {
  position: absolute;
}

@media (min-width: 1600px) {
  .media-1600\:absolute {
    position: absolute;
  }
}

@media (min-width: 991px) {
  .media-991\:absolute {
    position: absolute;
  }
}

@media (min-width: 480px) {
  .media-480\:absolute {
    position: absolute;
  }
}

.static {
  position: static;
}

@media (min-width: 1600px) {
  .media-1600\:static {
    position: static;
  }
}

@media (min-width: 991px) {
  .media-991\:static {
    position: static;
  }
}

@media (min-width: 480px) {
  .media-480\:static {
    position: static;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

@media (min-width: 1600px) {
  .media-1600\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 991px) {
  .media-991\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 480px) {
  .media-480\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.text-primary {
  color: #001aaa;
}

@media (min-width: 1600px) {
  .media-1600\:text-primary {
    color: #001aaa;
  }
}

@media (min-width: 991px) {
  .media-991\:text-primary {
    color: #001aaa;
  }
}

@media (min-width: 480px) {
  .media-480\:text-primary {
    color: #001aaa;
  }
}

.bg-primary {
  background-color: #001aaa;
}

@media (min-width: 1600px) {
  .media-1600\:bg-primary {
    background-color: #001aaa;
  }
}

@media (min-width: 991px) {
  .media-991\:bg-primary {
    background-color: #001aaa;
  }
}

@media (min-width: 480px) {
  .media-480\:bg-primary {
    background-color: #001aaa;
  }
}

.text-white {
  color: #fff;
}

@media (min-width: 1600px) {
  .media-1600\:text-white {
    color: #fff;
  }
}

@media (min-width: 991px) {
  .media-991\:text-white {
    color: #fff;
  }
}

@media (min-width: 480px) {
  .media-480\:text-white {
    color: #fff;
  }
}

.bg-white {
  background-color: #fff;
}

@media (min-width: 1600px) {
  .media-1600\:bg-white {
    background-color: #fff;
  }
}

@media (min-width: 991px) {
  .media-991\:bg-white {
    background-color: #fff;
  }
}

@media (min-width: 480px) {
  .media-480\:bg-white {
    background-color: #fff;
  }
}

.text-black {
  color: #000;
}

@media (min-width: 1600px) {
  .media-1600\:text-black {
    color: #000;
  }
}

@media (min-width: 991px) {
  .media-991\:text-black {
    color: #000;
  }
}

@media (min-width: 480px) {
  .media-480\:text-black {
    color: #000;
  }
}

.bg-black {
  background-color: #000;
}

@media (min-width: 1600px) {
  .media-1600\:bg-black {
    background-color: #000;
  }
}

@media (min-width: 991px) {
  .media-991\:bg-black {
    background-color: #000;
  }
}

@media (min-width: 480px) {
  .media-480\:bg-black {
    background-color: #000;
  }
}
/*# sourceMappingURL=helper.css.map */