/***** Footer *****/
.footer {
	position: relative;
	z-index: 1;

	&__container {
		background-color: var(--clr-secondary-2);
		padding: 0 20px;
	}

	&__container__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1344px;
		width: 100%;
		margin: 0 auto;
		padding: 40px 0;

		@include max-media(1080px) {
			flex-direction: column;
			gap: 30px;
			max-width: 600px;
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&-info-text {
		color: var(--clr-font);
		margin-left: 10px;
		font-size: 13px;

		a {
			color: var(--clr-font);

			&:hover {
				color: var(--clr-primary);
			}
		}
	}

	&__address {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__social {
		position: relative;
		display: flex;
		align-items: center;
		gap: 20px;
		font-size: 13px;
		justify-content: flex-end;

		@include max-media(1080px) {
			justify-content: center;
		}
	}

	&-accordion {
		width: 100%;

		&-title {
			position: relative;
			display: none;

			@include max-media(1080px) {
				display: block;
			}
		}

		&-section {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}

			&-content {
				display: block;
				padding: 10px 0 15px;
				text-align: center;

				@include max-media(1080px) {
					display: none;
				}
			}

			&-title {
				font-size: 20px;
				color: var(--clr-font);
				display: block;
				text-decoration: none;
				pointer-events: none;
				position: relative;
				text-align: center;

				&:hover {
					text-decoration: none;
					color: var(--clr-font);
				}

				@include max-media(1080px) {
					border-bottom: 2px solid var(--clr-font);
					padding-left: 0;
					// padding-right: 40px;
					pointer-events: all;
					padding-bottom: 8px;
					text-align: left;
				}

				.arrows {
					display: block;
					position: absolute;
					right: 0;
					transform: translateY(-50%);
					top: 50%;
					width: 20px;
					height: 20px;
					display: none;
					pointer-events: none;

					@include max-media(1080px) {
						display: block;
					}
				}

				.arrow {
					&-props {
						position: absolute;
						display: block;
						width: 20px;
						height: 12px;
						background-color: var(--clr-font);
						top: 50%;
						transform: translateY(-50%);
						right: 0;
					}

					&-down {
						-webkit-clip-path: polygon(50% 100%, 0% 0, 100% 0);
						clip-path: polygon(50% 100%, 0% 0, 100% 0);
					}

					&-up {
						-webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
						clip-path: polygon(50% 0, 0 100%, 100% 100%);
						display: none;
					}
				}

				&.active {
					.arrow {
						&-up {
							display: flex;
						}

						&-down {
							display: none;
						}
					}
				}
			}
		}
	}

	&__menu {
		.main-menu {
			ul {
				margin: 0;

				&::after {
					display: none;
				}

				li {
					float: none;
					line-height: initial;
					margin-top: 7px;

					&:nth-child(1) {
						margin-top: 0;
						display: none;
					}

					&.active,
					&:hover {
						background-color: unset;
					}

					&.active {
						a {
							text-decoration: underline;
						}
					}

					&.hasChildren {
						padding: 0;

						&:before {
							display: none;
						}

						ul {
							display: none;
						}
					}

					&::before {
						display: none;
					}

					&.menu-close-icon {
						display: none;
					}

					a {
						margin: 0;
						color: var(--clr-white);
						width: initial;
						display: inline-block;

						&:hover {
							text-decoration: underline;
						}

						&::after,
						&::before {
							display: none;
						}
					}
				}
			}
		}

		.menu-close-icon {
			display: none;
		}
	}

	&__column {
		max-width: 267px;
		width: 100%;

		@include max-media(1080px) {
			width: 100%;
			max-width: 100%;
		}

		&.column-2 {
			margin-top: -85px;

			@include max-media(1080px) {
				margin-top: 0;
			}
		}
	}

	&__logo {
		width: 82px;
		height: 82px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--clr-white);
		border-radius: 100%;
		margin: 0 auto;
	}

	&__down {
		background-color: var(--clr-white);
		padding: 0 20px;

		&--content {
			color: var(--clr-font);
			display: grid;
			grid-template-columns: 1fr 1fr;
			line-height: 13px;
			padding: 10px 30px;
			max-width: 1155px;
			margin: 0 auto;
		}

		@include max-media(580px) {
			grid-template-columns: 1fr;
			grid-gap: 5px;
		}

		.footerleft {
			text-align: left;

			@include max-media(580px) {
				text-align: center;
			}
		}

		.footerright {
			text-align: right;

			@include max-media(580px) {
				text-align: center;
			}
		}

		> div {
			span,
			a {
				font-size: 11px;
			}
		}
	}
}
