/***** Header *****/
.header {
	position: relative;
	// box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.2);
	padding: 0 20px;
	background-color: var(--clr-white);
	z-index: 2;

	&__container {
		max-width: 1344px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	&__top {
		padding: 13px 0;
		border-bottom: 3px solid var(--clr-gray);
		display: flex;
	}

	&__top--block {
		display: flex;
		align-items: center;
		margin-left: auto;

		@include max-media(991px) {
			margin-right: auto;
		}
	}

	&__social {
		position: relative;
		display: flex;
		align-items: center;
		gap: 20px;
		font-size: 13px;
		padding-right: 50px;
		margin-right: 50px;
		border-right: 3px solid var(--clr-gray);

		@include max-media(991px) {
			margin-right: 20px;
			padding-right: 20px;
		}
	}

	&-info-text {
		color: var(--clr-gray-100);
		margin-left: 10px;
		font-size: 13px;
	}

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 40px;

		@include max-media(991px) {
			align-items: center;
		}
	}

	&__logo {
		img {
			@include max-media(991px) {
				width: 200px;
			}
		}
	}

	&__menu {
		position: relative;

		@include max-media(1023px) {
			background-color: transparent;
			padding: 0;
			margin: 0;
		}

		&::before,
		&::after {
			// content: "";
			position: absolute;
			top: 0;
			background-color: inherit;
		}

		&::before {
			height: 100%;
			width: 50px;
			left: -50px;
			border-top-left-radius: 30px;
		}

		&::after {
			height: 100%;
			right: -100%;
			width: 100%;
		}

		.main {
			&-menu {
				ul {
					max-width: initial;

					&.languages {
						display: none;
					}

					li {
						position: relative;

						&.hasChildren {
							&::after,
							&::before {
								@include max-media(1023px) {
									display: none;
								}
							}

							&::after {
								content: "";
								display: none;
							}

							&::before {
								content: "";
								display: none;
							}
						}

						float: none;

						ul {
							background-color: unset;
							border-radius: 0;
							border: unset;
							left: 0;
							visibility: hidden;
							min-width: 185px;
							max-width: 185px;

							li {
								&::before {
									content: "";
									display: none;
								}

								&::after {
									content: "";
									height: 1px;
									left: 0;
									bottom: 0;
									width: 0%;
									background-color: var(--clr-primary);
									display: block;
									transition: all 200ms linear;
								}

								&::after,
								&::before {
									@include max-media(1023px) {
										display: none;
									}
								}

								&:hover {
									background-color: transparent;

									&::after {
										width: 100%;
									}

									ul {
										visibility: visible;
										left: 100%;
										top: 0;
									}
								}

								&.active {
									> a {
										color: var(--clr-primary);
									}
								}

								a {
									padding: 0;
									white-space: nowrap;
									white-space: normal;
									width: 100%;
									color: var(--clr-font);
									font-size: 14px;

									@include max-media(1430px) {
										font-size: 12px;
									}

									&:hover {
										color: var(--clr-primary);
									}
								}

								&.hasChildren {
									&::after,
									&::before {
										content: "";
										display: block;
									}

									&::before {
										display: none;
									}

									&::after {
										content: "";
										height: 1px;
										top: unset;
										right: unset;
										border-radius: unset;
										left: 0;
										bottom: 0;
										width: 0%;
										background-color: var(--clr-primary);
										display: block;
										transition: all 200ms linear;
										position: relative;
									}

									&::after,
									&::before {
										@include max-media(1023px) {
											display: none;
										}
									}

									&:hover {
										&::after {
											width: 100%;
										}
									}
								}
							}
						}
					}

					@include max-media(1023px) {
						&.languages {
							width: 100%;
							display: flex;
							max-width: 90px;
							margin-top: 30px;

							display: none;

							li {
								display: flex;
								justify-content: center;
								align-items: center;

								a {
									padding: 0 !important;
									margin: 0 !important;
									text-transform: uppercase;
									line-height: initial;
									width: 20px;
									height: 20px;
									display: flex;
									justify-content: center;
									align-items: center;
									position: relative;
									font-size: 12px !important;
									border-bottom: unset !important;
									color: var(--clr-black) !important;

									&.langActive {
										color: var(--clr-primary) !important;
									}
								}

								&:not(:last-child) {
									margin-right: 10px;

									&::before {
										content: "";
										height: 10px;
										width: 2px;
										background-color: var(--clr-font);
										top: 50%;
										transform: translateY(-50%);
										right: -2px;
										position: absolute;
									}
								}

								&:first-child {
									a,
									span {
										font-size: 0 !important;

										&::after {
											content: "ΕΛ";
											font-size: 12px;
										}
									}
								}
							}
						}
					}
				}

				> ul {
					display: flex;
					margin: 0;
					max-width: 100%;

					> li {
						&.hasChildren {
							padding-right: 0;

							em {
								display: none;
							}
						}

						&:first-child {
							display: none;
						}

						&.menu-close-icon {
							display: none;
						}

						&.active,
						&:hover {
							background-color: unset;

							> a {
								color: var(--clr-primary);
							}
						}

						&.active {
							> a {
								font-weight: 700;
							}
						}

						&:not(:first-child) {
							margin-right: 124px;

							@include max-media(1600px) {
								margin-right: 20px;
							}
						}

						&:nth-last-child(2) {
							margin-right: 0;
						}

						@include min-media(1024px) {
							&:hover {
								> ul {
									left: 0;
									top: 38px;
									visibility: visible;
									padding: 20px 0 0;

									&::after {
										content: "";
										position: absolute;
										top: 20px;
										left: 0;
										width: 100%;
										height: calc(100% - 20px);
										border-radius: 20px;
										box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
										z-index: 100;
										visibility: visible;
										display: block !important;
										pointer-events: none;
									}

									&::before {
										content: "";
										display: block;
										background-image: url(/CMS/site/images/menu-icon-1.png);
										background-repeat: no-repeat;
										background-position: center;
										width: 36px;
										height: 16px;
										position: absolute;
										top: 7px;
										z-index: 999;
										left: 26px;
									}

									li {
										max-height: unset;
										background-color: var(--clr-gray-200);
										padding: 6px 25px;

										&:not(:first-child) {
											margin-top: 0;
										}

										&:first-child {
											border-top-left-radius: 20px;
											border-top-right-radius: 20px;
											padding-top: 25px;
										}

										&:last-child {
											border-bottom-left-radius: 20px;
											border-bottom-right-radius: 20px;
											padding-bottom: 25px;
										}

										&:hover {
											> ul {
												&::after {
													content: "";
													position: absolute;
													top: 0;
													left: 0;
													width: 100%;
													height: calc(100%);
													border-radius: 20px;
													box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.2);
													z-index: 100;
													visibility: visible;
													display: block !important;
													pointer-events: none;
												}

												&::before {
													content: "";
													background-image: url(/CMS/site/images/menu-icon-2.png);
													height: 30px;
													width: 16px;
													position: absolute;
													z-index: 101;
													visibility: visible;
													display: block !important;
													left: -15px;
													top: 30px;
												}
											}
										}
									}
								}
							}
						}

						> a {
							margin: 0;
							padding-bottom: 25px;
							color: var(--clr-font);

							&::before,
							&::after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
