/***** Mobile Menu *****/
@media (max-width: 1080px) {
	/***** Mobile Body *****/
	body {
		position: relative;
		z-index: 0;
	}

	body.mobile-clicked {
		overflow: hidden;
	}

	body.mobile-clicked::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 15;
	}

	html.mobile-clicked {
		overflow: hidden;
	}

	/***** Mobile *****/
	#ctl00_pnlMenu .main-menu > ul > li > ul > li.hasChildren > a {
		padding: 15px 51px 15px 20px !important;
	}

	#ctl00_pnlMenu .main-menu > ul {
		position: fixed;
		top: 0;
		background-color: #fff;
		padding: 75px 15px;
		height: 100vh;
		overflow: auto;
		width: 330px;
		right: -345px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: -4px 0 10px -2px rgba(0, 0, 0, 0.2);
		transition: all 200ms ease-in;
		z-index: 999;
		margin: 0;
	}

	#ctl00_pnlMenu .main-menu > ul.open {
		right: 0;
	}

	#ctl00_pnlMenu .main-menu > ul > li a {
		font-size: 22px;
	}

	/***** Mobile Menu - Sub Menu *****/
	#ctl00_pnlMenu .main-menu > ul > li,
	#ctl00_pnlMenu .main-menu > ul li {
		padding: 0 !important;
		margin: 0 !important;
		width: 100%;
		position: relative;
		max-height: unset;
	}

	#ctl00_pnlMenu .main-menu ul li a {
		padding: 15px 20px;
		background-color: #fff;
		border-bottom: 1px solid var(--clr-secondary);
		margin-bottom: 10px;
		color: var(--clr-secondary-2);
		text-align: center !important;
		font-size: 18px;
		border-radius: 0 !important;
		transform: scale(1, 1) !important;
	}

	#ctl00_pnlMenu .main-menu ul > li.active > a {
		color: var(--clr-gold);
	}

	#ctl00_pnlMenu .main-menu ul li ul li ul li a {
		white-space: pre-wrap;
	}

	#ctl00_pnlMenu .main-menu > ul > li.active > a,
	#ctl00_pnlMenu .main-menu > ul > li > ul > li.active > a,
	#ctl00_pnlMenu .main-menu > ul > li > ul > li > ul > li.active a {
		border-bottom: 2px solid var(--clr-primary-light);
	}

	#ctl00_pnlMenu .main-menu > ul > li.hasChildren i {
		position: absolute;
		right: 0;
		top: 4px;
		height: 45px;
		width: 50px;
		z-index: 999;
		border-left: 1px solid #ccc;
		display: block;
	}

	#ctl00_pnlMenu .main-menu > ul > li.hasChildren > i::before {
		display: none;
	}

	#ctl00_pnlMenu .main-menu > ul > li:hover ul {
		position: relative;
		top: unset;
		left: unset;
	}

	#ctl00_pnlMenu .main-menu > ul > li ul {
		position: relative;
		top: unset;
		left: unset;
		list-style: none;
		border-radius: unset;
		min-width: unset;
		border: unset;
		display: none;
		margin: 0 0 0 15px;
		width: unset;
	}

	/***** Mobile - Close Button *****/
	.menu-close-icon {
		position: absolute !important;
		right: 24px;
		top: 20px;
		width: 30px !important;
		height: 30px;
		cursor: pointer;
		display: none;
	}

	.menu-close-icon.toggle {
		display: block !important;
	}

	.menu-close-icon::after,
	.menu-close-icon::before {
		position: absolute !important;
		content: "";
		width: 100% !important;
		height: 3px !important;
		background-color: var(--clr-primary) !important;
		left: unset !important;
		top: 50% !important;
		border-radius: unset !important;
	}

	.menu-close-icon::before {
		transform: translateY(-50%) rotate(-45deg) !important;
	}

	.menu-close-icon::after {
		transform: translateY(-50%) rotate(45deg) !important;
	}
	/***** Mobile - Menu Button *****/
	#ctl00_pnlMenu .main-menu .menu-button {
		display: block;
		width: 35px;
		height: 35px;
		position: relative;
		cursor: pointer;
		font-size: 0;
	}

	#ctl00_pnlMenu .main-menu .menu-button-block {
		display: block;
		height: 4px;
		background-color: var(--clr-primary);
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		font-size: 0;
	}

	#ctl00_pnlMenu .main-menu .menu-button-block::before,
	#ctl00_pnlMenu .main-menu .menu-button-block::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 4px;
		background-color: var(--clr-primary);
		display: block !important;
	}

	#ctl00_pnlMenu .main-menu .menu-button-block::before {
		top: -10px;
	}

	#ctl00_pnlMenu .main-menu .menu-button-block::after {
		top: 10px;
	}
	/***** Mobile - Sub Menu Close Button *****/
	.submenu-menu-close-icon {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		transition: all 200ms ease-in;
	}

	.submenu-menu-close-icon.active {
		transform: translate(-50%, -50%) rotate(180deg);
	}

	.submenu-close {
		position: absolute;
		width: 20px;
		height: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.submenu-close.s-icon-1 {
		z-index: 999;
		-webkit-clip-path: polygon(10% 0, 0 0, 50% 100%, 100% 0, 90% 0, 50% 80%);
		clip-path: polygon(10% 0, 0 0, 50% 100%, 100% 0, 90% 0, 50% 80%);
		background-color: var(--clr-secondary);
	}
}

#ctl00_pnlFooter li.menu-close-icon,
#ctl00_pnlFooter .submenu-menu-close-icon {
	display: none;
}
