.main-content {
	position: relative;
}

.LoginArea {
	position: absolute;
	top: 85px;
	right: 200px;
	z-index: 10;

	@include max-media(1080px) {
		right: 50%;
		transform: translateX(50%);
	}
}

.login-layout .widget-box .widget-main {
	padding: 16px 20px;
	background: unset;
}

.login-box,
.forgot-box {
	background-color: #fff;
	border-radius: 9px;
}

.login_log {
	padding: 20px 0;
}

.widget-body-inside input {
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
}

.widget-body-inside button {
	width: 100%;
	height: 40px;
	border: navajowhite;
	background-color: var(--clr-primary);
	color: #fff;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

#ctl00_DivUserLoggedIn {
	border-radius: 10px;
}

.LogedinBtn .fa-power-off:before {
	background-color: var(--clr-primary);
}