* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	overflow-x: hidden;

	color: var(--clr-font);
	font-family: var(--font-arial-regular);
	background-color: var(--clr-white);
}

input,
select,
textarea,
button {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
		border-color: var(--clr-secondary) !important;
	}
}

b,
strong {
	font-weight: bold;
	font-size: inherit;
	color: inherit;
}

span {
	font-size: inherit;
	color: inherit;
}

a {
	color: var(--clr-font);
	text-decoration: none;

	&:hover {
		color: var(--clr-primary);
		text-decoration: none;
	}
}

td {
	padding: 10px;
}

ul,
ol {
	padding-left: 25px;
	list-style: none;
}

ul {
	li {
		position: relative;
	}

	&.primary {
		li {
			&::before {
				content: "";
				position: absolute;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				top: 9px;
				left: -15px;
				background-color: var(--clr-primary);
			}
		}
	}

	&.secondary {
		padding: 0;

		li {
			&::before {
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				top: 8px;
				left: -15px;
				display: none;
				background-color: var(--clr-secondary);
			}
		}
	}
}

ol {
	&.primary {
		li {
			&::before {
				color: var(--clr-primary);
			}
		}
	}

	&.counter {
		counter-reset: li;

		li {
			position: relative;
			counter-increment: li;

			&::before {
				content: counter(li) ".";
				position: absolute;
				left: -20px;
			}
		}
	}
}

li,
p {
	line-height: 24px;
	margin-bottom: 16px;
}

.btn-primary {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);

	&:hover {
		background-color: var(--clr-primary);
		border-color: var(--clr-primary);
	}
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);
}
