// ROOT
:root {
	--clr-primary: #679b39;
	--clr-secondary: #b3c934;
	--clr-secondary-1: #d0bf7e;
	--clr-secondary-2: #f8fbea;
	--clr-secondary-3: #edf3ca;
	--clr-secondary-4: #cfe167;
	--clr-secondary-5: #b3c934;
	--clr-secondary-6: #f8fbea;

	--clr-white: #fff;
	--clr-black: #000;

	--clr-gray: #e1e1e1;
	--clr-gray-100: #cecece;
	--clr-gray-200: #fbfbfb;

	--clr-gray-300: #6b829a;
	--clr-gray-400: #d8dbe2;

	--clr-font: #4d4d4d;

	--clr-primary-destructured: 254, 136, 33;
	--clr-secondary-destructured: 169, 188, 208;
	--clr-white-destructured: 255, 255, 255;

	--font-arial-regular: "arial-regular";
	--font-nf-supergal-regular: "nf-supergal-regular";
}

// LAYOUT
// Colors
$colors: (
	"primary": var(--clr-primary),
	"secondary": var(--clr-secondary),
	"secondary-1": var(--clr-secondary-1),
	"secondary-2": var(--clr-secondary-2),
	"secondary-3": var(--clr-secondary-3),
	"secondary-4": var(--clr-secondary-4),
	"secondary-5": var(--clr-secondary-5),
	"secondary-6": var(--clr-secondary-6),
	"white": var(--clr-white),
	"black": var(--clr-black),
	"gray": var(--clr-gray),
	"gray-100": var(--clr-gray-100),
	"gray-200": var(--clr-gray-200),
	"gray-300": var(--clr-gray-300),
	"gray-400": var(--clr-gray-400),
	"font": var(--clr-font),
);

// Container
$media: (
	"media-1023": 1023px,
	"media-1080": 1080px,
);

// Box Sizing
$box-sizing: (
	"border": border-box,
	"content": content-box,
);

// Display
$display: (
	"block": block,
	"inline-block": inline-block,
	"inline": inline,
	"flex": flex,
	"inline-flex": inline-flex,
	// "table": table,
	// "table-caption": table-caption,
	// "table-cell": table-cell,
	// "table-column": table-column,
	// "table-column-group": table-column-group,
	// "table-footer-group": table-footer-group,
	// "table-header-group": table-header-group,
	// "table-row-group": table-row-group,
	// "table-row": table-row,
	// "flow-root": flow-root,
	"grid": grid,
	// "inline-grid": inline-grid,
	// "contents": contents,
	"hidden": none,
);

// Floats
// $floats: (
// 	"float-right": right,
// 	"float-left": left,
// 	"float-none": none,
// );

// Clear
// $clear: (
// 	"clear-left": left,
// 	"clear-right": right,
// 	"clear-both": both,
// 	"clear-none": none,
// );

// Object Fit
$object-fit: (
	"object-contain": contain,
	"object-cover": cover,
	// "object-fill": fill,
	// "object-none": none,
	"object-scale-down": scale-down,
);

// Object Position
// $object-position: (
// 	"object-bottom": bottom,
// 	"object-center": center,
// 	"object-left": left,
// 	"object-left-bottom": left bottom,
// 	"object-left-top": left top,
// 	"object-right": right,
// 	"object-right-bottom": right bottom,
// 	"object-right-top": right top,
// 	"object-top": top,
// );

// Overflow
$overflow: (
	"overflow-auto": auto,
	"overflow-hidden": hidden,
	"overflow-visible": visible,
	"overflow-scroll": scroll,
	"overflow-x-auto": auto,
	"overflow-y-auto": auto,
	"overflow-x-hidden": hidden,
	"overflow-y-hidden": hidden,
	"overflow-x-visible": visible,
	"overflow-y-visible": visible,
	"overflow-x-scroll": scroll,
	"overflow-y-scroll": scroll,
);

// Overscroll Behavior
// $overscroll-behavior: (
// 	"overscroll-auto": auto,
// 	"overscroll-contain": contain,
// 	"overscroll-none": none,
// 	"overscroll-y-auto": auto,
// 	"overscroll-y-contain": contain,
// 	"overscroll-y-none": none,
// 	"overscroll-x-auto": auto,
// 	"overscroll-x-contain": contain,
// 	"overscroll-x-none": none,
// );

// Position
$position: (
	"static": static,
	"fixed": fixed,
	"absolute": absolute,
	"relative": relative,
	"sticky": sticky,
);

// Position Settings
$position-values: (
	"t-1\\%": 1%,
	"-t-1": -1px,
	"t-0": 0,
	"r-0": 0,
	"b-0": 0,
	"l-0": 0,
);

// Z-Index
$z-index: (
	"z-auto": auto,
	"-z-1": -1,
	"z-0": 0,
	"z-1": 1,
	"z-2": 2,
);

// Visibility
$visibility: (
	"visible": visible,
	"invisible": hidden,
);

// FLEXBOX
// Flex Direction
$flex-direction: (
	"flex-row": row,
	"flex-row-reverse": row-reverse,
	"flex-col": column,
	"flex-col-reverse": column-reverse,
);

// Flex Wrap
$flex-wrap: (
	"flex-wrap": wrap,
	"flex-wrap-reverse": wrap-reverse,
	"flex-nowrap": nowrap,
);

// Flex
$flex: (
	"flex-1": 1 1 0%,
	"flex-auto": 1 1 auto,
	"flex-initial": 0 1 auto,
	"flex-none": none,
	"flex-basis-48": 48%,
);

// Flex Grow
$flex-grow: (
	"flex-grow-0": 0,
	"flex-grow": 1,
);

// Flex Shrink
$flex-shrink: (
	"flex-shrink-0": 0,
	"flex-shrink": 1,
);

// Order
$order: (
	"-order-1": -1,
	"order-0": 0,
	"order-1": 1,
);

// GRID
// Grid Template Columns
$grid-template-columns: (
	"grid-cols-none": none,
	"grid-cols-1": 1,
	"grid-cols-auto-fit-360": repeat(auto-fit, minmax(360px, 1fr)),
);

// Grid Column Start / End
$col-span: (
	"col-span-full": 1 / -1,
);

// Grid Template Rows
$grid-template-rows: (
	"grid-rows-1": 1,
	"grid-rows-2": 2,
	"grid-rows-3": 3,
	"grid-rows-4": 4,
	"grid-rows-5": 5,
	"grid-rows-none": none,
);

// Grid Row Start / End
$row-span: (
	"row-span-full": 1 / -1,
);

// Grid Auto Flow
// $grid-flow: ();

// Grid Auto Columns
// $auto-cols: ();

// Grid Auto Rows
// $auto-rows: ();

// Gap
$gap: (
	"1": 1px,
	"20": 20px,
	"x-1": 1px,
	"y-1": 1px,
);

// BOX ALIGNMENT
// Justify Content
$justify-content: (
	"justify-start": flex-start,
	"justify-end": flex-end,
	"justify-center": center,
	"justify-between": space-between,
	"justify-around": space-around,
	"justify-evenly": space-evenly,
);

// Justify Items
$justify-items: (
	"justify-items-auto": auto,
	"justify-items-start": start,
	"justify-items-end": end,
	"justify-items-center": center,
	"justify-items-stretch": stretch,
);

// Justify Self
$justify-self: (
	"justify-self-auto": auto,
	"justify-self-start": start,
	"justify-self-end": end,
	"justify-self-center": center,
	"justify-self-stretch": stretch,
);

// Align Content
$align-content: (
	"content-center": center,
	"content-start": flex-start,
	"content-end": flex-end,
	"content-between": space-between,
	"content-around": space-around,
	"content-evenly": space-evenly,
);

// Align Items
$align-items: (
	"items-start": flex-start,
	"items-end": flex-end,
	"items-center": center,
	"items-baseline": baseline,
	"items-stretch": stretch,
);

// Align Self
$align-self: (
	"self-auto": auto,
	"self-start": flex-start,
	"self-end": flex-end,
	"self-center": center,
	"self-stretch": stretch,
);

// Place Content
$place-content: (
	"place-content-center": center,
	"place-content-start": start,
	"place-content-end": end,
	"place-content-between": space-between,
	"place-content-around": space-around,
	"place-content-evenly": space-evenly,
	"place-content-stretch": stretch,
);

// Place Items
$place-items: (
	"place-items-auto": auto,
	"place-items-start": start,
	"place-items-end": end,
	"place-items-center": center,
	"place-items-stretch": stretch,
);

// Place Self
$place-self: (
	"place-self-auto": auto,
	"place-self-start": start,
	"place-self-end": end,
	"place-self-center": center,
	"place-self-stretch": stretch,
);

// SPACING
// Padding
$padding: (
	"0": 0,
	"5": 5px,
	"10": 10px,
	"15": 15px,
	"20": 20px,
	"25": 25px,
	"30": 30px,
	"35": 35px,
	"40": 40px,
	"45": 45px,
	"50": 50px,
	"55": 55px,
	"60": 60px,
	"65": 65px,
	"70": 70px,
	"75": 75px,
	"80": 80px,
	"85": 85px,
	"90": 90px,
	"95": 95px,
	"100": 100px,
	"y-5": 5px,
	"y-10": 10px,
	"y-15": 15px,
	"y-20": 20px,
	"y-25": 25px,
	"y-30": 30px,
	"y-35": 35px,
	"y-40": 40px,
	"y-45": 45px,
	"y-50": 50px,
	"y-55": 55px,
	"y-60": 60px,
	"y-65": 65px,
	"y-70": 70px,
	"y-75": 75px,
	"y-80": 80px,
	"y-85": 85px,
	"y-95": 95px,
	"y-100": 100px,
	"x-5": 5px,
	"x-10": 10px,
	"x-15": 15px,
	"x-20": 20px,
	"x-25": 25px,
	"x-30": 30px,
	"x-35": 35px,
	"x-40": 40px,
	"x-45": 45px,
	"x-50": 50px,
	"x-55": 55px,
	"x-60": 60px,
	"x-65": 65px,
	"x-70": 70px,
	"x-75": 75px,
	"x-80": 80px,
	"x-95": 95px,
	"x-100": 100px,
	"t-5": 5px,
	"t-10": 10px,
	"t-15": 15px,
	"t-20": 20px,
	"t-25": 25px,
	"t-30": 30px,
	"t-35": 35px,
	"t-40": 40px,
	"t-45": 45px,
	"t-50": 50px,
	"t-55": 55px,
	"t-60": 60px,
	"t-65": 65px,
	"t-70": 70px,
	"t-75": 75px,
	"t-80": 80px,
	"t-95": 95px,
	"t-100": 100px,
	"r-5": 5px,
	"r-10": 10px,
	"r-15": 15px,
	"r-20": 20px,
	"r-25": 25px,
	"r-30": 30px,
	"r-35": 35px,
	"r-40": 40px,
	"r-45": 45px,
	"r-50": 50px,
	"r-55": 55px,
	"r-60": 60px,
	"r-65": 65px,
	"r-70": 70px,
	"r-75": 75px,
	"r-80": 80px,
	"r-95": 95px,
	"r-100": 100px,
	"b-5": 5px,
	"b-10": 10px,
	"b-15": 15px,
	"b-20": 20px,
	"b-25": 25px,
	"b-30": 30px,
	"b-35": 35px,
	"b-40": 40px,
	"b-45": 45px,
	"b-50": 50px,
	"b-55": 55px,
	"b-60": 60px,
	"b-65": 65px,
	"b-70": 70px,
	"b-75": 75px,
	"b-80": 80px,
	"b-95": 95px,
	"b-100": 100px,
	"l-5": 5px,
	"l-10": 10px,
	"l-15": 15px,
	"l-20": 20px,
	"l-25": 25px,
	"l-30": 30px,
	"l-35": 35px,
	"l-40": 40px,
	"l-45": 45px,
	"l-50": 50px,
	"l-55": 55px,
	"l-60": 60px,
	"l-65": 65px,
	"l-70": 70px,
	"l-75": 75px,
	"l-80": 80px,
	"l-95": 95px,
	"l-100": 100px,
);

// Margin
$margin: (
	"auto": auto,
	"0": 0,
	"5": 5px,
	"10": 10px,
	"15": 15px,
	"20": 20px,
	"25": 25px,
	"30": 30px,
	"35": 35px,
	"40": 40px,
	"45": 45px,
	"50": 50px,
	"55": 55px,
	"60": 60px,
	"65": 65px,
	"70": 70px,
	"75": 75px,
	"80": 80px,
	"85": 85px,
	"90": 90px,
	"95": 95px,
	"100": 100px,
	"y-5": 5px,
	"y-10": 10px,
	"y-15": 15px,
	"y-20": 20px,
	"y-25": 25px,
	"y-30": 30px,
	"y-35": 35px,
	"y-40": 40px,
	"y-45": 45px,
	"y-50": 50px,
	"y-55": 55px,
	"y-60": 60px,
	"y-65": 65px,
	"y-70": 70px,
	"y-75": 75px,
	"y-80": 80px,
	"y-95": 95px,
	"y-100": 100px,
	"x-5": 5px,
	"x-10": 10px,
	"x-15": 15px,
	"x-20": 20px,
	"x-25": 25px,
	"x-30": 30px,
	"x-35": 35px,
	"x-40": 40px,
	"x-45": 45px,
	"x-50": 50px,
	"x-55": 55px,
	"x-60": 60px,
	"x-65": 65px,
	"x-70": 70px,
	"x-75": 75px,
	"x-80": 80px,
	"x-85": 85px,
	"x-90": 90px,
	"x-95": 95px,
	"x-100": 100px,
	"t-auto": auto,
	"t-5": 5px,
	"t-10": 10px,
	"t-15": 15px,
	"t-20": 20px,
	"t-25": 25px,
	"t-30": 30px,
	"t-35": 35px,
	"t-40": 40px,
	"t-45": 45px,
	"t-50": 50px,
	"t-55": 55px,
	"t-60": 60px,
	"t-65": 65px,
	"t-70": 70px,
	"t-75": 75px,
	"t-80": 80px,
	"t-85": 85px,
	"t-90": 90px,
	"t-95": 95px,
	"t-100": 100px,
	"r-5": 5px,
	"r-10": 10px,
	"r-15": 15px,
	"r-20": 20px,
	"r-25": 25px,
	"r-30": 30px,
	"r-35": 35px,
	"r-40": 40px,
	"r-45": 45px,
	"r-50": 50px,
	"r-55": 55px,
	"r-60": 60px,
	"r-65": 65px,
	"r-70": 70px,
	"r-75": 75px,
	"r-80": 80px,
	"r-85": 85px,
	"r-90": 90px,
	"r-95": 95px,
	"r-100": 100px,
	"b-0": 0,
	"b-5": 5px,
	"b-10": 10px,
	"b-15": 15px,
	"b-20": 20px,
	"b-25": 25px,
	"b-30": 30px,
	"b-35": 35px,
	"b-40": 40px,
	"b-45": 45px,
	"b-50": 50px,
	"b-55": 55px,
	"b-60": 60px,
	"b-65": 65px,
	"b-70": 70px,
	"b-75": 75px,
	"b-80": 80px,
	"b-85": 85px,
	"b-90": 90px,
	"b-95": 95px,
	"b-100": 100px,
	"l-auto": auto,
	"l-5": 5px,
	"l-10": 10px,
	"l-15": 15px,
	"l-20": 20px,
	"l-25": 25px,
	"l-30": 30px,
	"l-35": 35px,
	"l-40": 40px,
	"l-45": 45px,
	"l-50": 50px,
	"l-55": 55px,
	"l-60": 60px,
	"l-65": 65px,
	"l-70": 70px,
	"l-75": 75px,
	"l-80": 80px,
	"l-85": 85px,
	"l-90": 90px,
	"l-95": 95px,
	"l-100": 100px,
);

// Space Between
$space-between: ();

// SIZING
// Width
$width: (
	"full": 100%,
	"1\\%": 1%,
	"1": 1px,
);

// Min-Width
$min-width: (
	"1": 1px,
);

// Max-Width
$max-width: (
	"full": 100%,
	"1": 1px,
	"420": 420px,
	"550": 550px,
	"750": 750px,
	"915": 915px,
);

// Height
$height: (
	"screen": 100vh,
	"full": 100%,
	"1": 1px,
);

// Min-Height
$min-height: (
	"full": 100%,
	"1": 1px,
);

// Max-Height
$max-height: (
	"full": 100%,
	"1": 1px,
);

// TYPOGRAPHY
// Font Faces
$font-faces: (
	"arial-regular": url("/CMS/site/fonts/arial-regular.ttf") format("truetype"),
	"nf-supergal-regular": url("/CMS/site/fonts/nf-supergal-regular.otf") format("opentype"),
);

// Font Family
$font: (
	"arial-regular": var(--font-arial-regular),
	"nf-supergal-regular": var(--font-nf-supergal-regular),
);

// Font Size
$font-size: (
	"11": 11px,
	"12": 12px,
	"13": 13px,
	"14": 14px,
	"clamp-18": clamp(16px, 3vw, 18px),
	"clamp-20": clamp(16px, 3vw, 20.25px),
	"clamp-23": clamp(18px, 3vw, 22.87px),
	"clamp-26": clamp(20.25px, 3vw, 25.63px),
	"clamp-29": clamp(22.87px, 3vw, 28.83px),
	"clamp-33": clamp(25.63px, 3vw, 32.44px),
	"clamp-37": clamp(28.83px, 3vw, 36.49px),
	"clamp-41": clamp(32.44px, 3vw, 41.05px),
	"clamp-46": clamp(36.49px, 3vw, 46.18px),
);

// Font Smoothing
$font-smoothing: (
	"antialiased": antialiased,
	"subpixel-antialiased": subpixel-antialiased,
);

// Font Style
$font-style: (
	"italic": italic,
	"not-italic": normal,
);

// Font Weight
$font-weight: (
	"font-thin": 100,
	"font-extralight": 200,
	"font-light": 300,
	"font-normal": 400,
	"font-medium": 500,
	"font-semibold": 600,
	"font-bold": 700,
	"font-extrabold": 800,
	"font-black": 900,
);

// Font Variant Numeric
$font-variant: ();

// Letter Spacing
$letter-spacing: (
	"spacing-1": 1px,
);

// Line Height
$line-height: (
	"24": 24px,
	"clamp-21": clamp(17px, 3vw, 21px),
	"clamp-23": clamp(18px, 3vw, 23px),
	"clamp-27": clamp(21px, 3vw, 27px),
	"clamp-30": clamp(23px, 3vw, 30px),
	"clamp-34": clamp(27px, 3vw, 34px),
	"clamp-38": clamp(30px, 3vw, 38px),
	"clamp-42": clamp(34px, 3vw, 42px),
	"clamp-48": clamp(38px, 3vw, 48px),
	"clamp-55": clamp(42px, 3vw, 55px),
);

// List Style Type
$list-style-type: (
	"list-none": none,
	"list-disc": disc,
	"list-decimal": decimal,
);

// List Style Position
// $list-style-position: ();

// Placeholder Color
// $placeholder-color: ();

// Placeholder Opacity
// $placeholder-opacity: ();

// Text Alignment
$text-align: (
	"text-left": left,
	"text-center": center,
	"text-right": right,
	"text-justify": justify,
);

// Text Color
$text-color: ("loop over colors");

// Text Opacity
$text-opacity: (
	"text-opacity-0": 0,
	"text-opacity-5": 0.5,
);

// Text Decoration
$text-decoration: (
	"underline": underline,
	"line-through": line-through,
	"no-underline": none,
);

// Text Transform
$text-transform: (
	"uppercase": uppercase,
	"lowercase": lowercase,
	"capitalize": capitalize,
	"normal-case": none,
);

// Text Overflow
// $text-overflow: ();

// Vertical Alignment
// $vertical-align: ();

// Whitespace
$whitespace: (
	"whitespace-normal": normal,
	"whitespace-nowrap": nowrap,
	"whitespace-pre": pre,
	"whitespace-pre-line": pre-line,
	"whitespace-pre-wrap": pre-wrap,
);

// Word Break
$word-break: (
	"break-normal": normal,
	"break-words": break-word,
	"break-all": break-all,
);

// BACKGROUNDS
// Background Attachment
$background-attachment: (
	"bg-fixed": fixed,
	// "bg-local": local,
	"bg-scroll": scroll,
);

// Background Clip
// $background-clip: ();

// Background Color
$background-color: ("from colors");

// Background Opacity
// $background-opacity: ();

// Background Position
$background-position: (
	"bg-bottom": bottom,
	"bg-center": center,
	"bg-left": left,
	"bg-left-bottom": left bottom,
	"bg-left-top": left top,
	"bg-right": right,
	"bg-right-bottom": right bottom,
	"bg-right-top": right top,
	"bg-top": top,
);

// Background Repeat
$background-repeat: (
	"bg-repeat": repeat,
	"bg-no-repeat": no-repeat,
	"bg-repeat-x": repeat-x,
	"bg-repeat-y": repeat-y,
	"bg-repeat-round": round,
	"bg-repeat-space": space,
);

// Background Size
$background-size: (
	"bg-auto": auto,
	"bg-cover": cover,
	"bg-contain": contain,
);

// Background Image
$background-image: (
	"bg-none": none,
);

// Gradient Color Stops
// $gradient-color-stops: ();

// BORDERS
// Border Radius
$border-radius: (
	"none": 0,
	"full": 50%,
	"1": 1px,
	"20": 20px,
	"t-1": 1px,
	"t-20": 20px,
	"r-1": 1px,
	"r-20": 20px,
	"b-1": 1px,
	"b-20": 20px,
	"l-1": 1px,
	"l-20": 20px,
	"tl-1": 1px,
	"tl-unset": unset,
	"tr-1": 1px,
	"br-1": 1px,
	"bl-1": 1px,
);

// Border Width
$border-width: (
	"1": 1px,
	"2": 2px,
	"t-1": 1px,
	"r-1": 1px,
	"b-1": 1px,
	"b-2": 2px,
	"l-1": 1px,
);

// Border Color
// $border-color: ("loop ocer colors");

// Border Opacity
// $border-opacity: ();

// Border Style
$border-style: (
	"border-solid": solid,
	"border-t-solid": solid,
	"border-r-solid": solid,
	"border-b-solid": solid,
	"border-l-solid": solid,
	"border-dashed": dashed,
	"border-dotted": dotted,
	"border-double": double,
	"border-none": none,
);

// EFFECTS
// Box Shadow
$box-shadow: (
	"default": 0 0 3px 0 rgba(0, 0, 0, 0.2),
);

// Blend Modes
$blend-mode: (
	"multiply": multiply,
);

// Opacity
$opacity: (
	"opacity-0": 0,
	"opacity-5": 0.05,
	"opacity-10": 0.1,
	"opacity-20": 0.2,
	"opacity-25": 0.25,
	"opacity-30": 0.3,
	"opacity-40": 0.4,
	"opacity-50": 0.5,
	"opacity-60": 0.6,
	"opacity-70": 0.7,
	"opacity-75": 0.75,
	"opacity-80": 0.8,
	"opacity-90": 0.9,
	"opacity-95": 0.95,
	"opacity-100": 1,
);

// TRANSITIONS AND ANIMATION
// Transition Property
$transition: (
	"default": 80ms linear,
);

// Transition Directions
$transition-directions: (
	"t": top,
	"r": right,
	"b": bottom,
	"l": left,
);

// HOVERS
// Hover Colors
// $hover-colors: ("loop over colors");

// Hover Opacity
$hover-opacity: (
	"opacity-70": 0.7,
);

// Hover Text Decoration
$hover-text-decoration: (
	"underline": underline,
);

// INTERACTIVITY
// Cursor
$cursor: (
	"cursor-auto": auto,
	"cursor-default": default,
	"cursor-pointer": pointer,
	"cursor-wait": wait,
	"cursor-text": text,
	"cursor-move": move,
	"cursor-help": help,
	"cursor-not-allowed": not-allowed,
);

// Pointer Events
$pointer-events: (
	"pointer-events-none": none,
	"pointer-events-auto": auto,
);

// User Select
$user-select: (
	"select-none": none,
	"select-text": text,
	"select-all": all,
	"select-auto": auto,
);
